:root {
	/* DEEPBLUE */
	--sback-deepblue: #061f4b;
	--sborder-deepblue: #15A0FF;
	--sbackshadow-deepblue: #38A1FF4F;
	--sshadow-deepblue: #005FFF59;
	/* GRAY */
	--sback-gray: #2B2B2B;
	--sborder-gray: #888;
	--sbackshadow-gray: #FFF2;
	--sshadow-gray: #FFF2;
	/* RED */
	--sback-red: #6B1111;
	--sborder-red: #F34141;
	--sbackshadow-red: #FF24244F;
	--sshadow-red: #FF0E0E7A;
}

.fps {
	width: 100%;
	text-align: left;
}

#popup-base {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #0008;
	transition: 0.2s;
}

#popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: var(--wincol);
	box-shadow: var(--winshadow);
	border-radius: var(--corm);
	color: var(--txtcol);
	font-family: sans-serif;
	font-size: 13pt;
	box-sizing: border-box;
	max-width: 40vw;
	max-height: calc(60vh - 50px);
	transition: var(--trans);
}

#popup-exit {
	display: block;
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: var(--pricol);
	box-shadow: 0px 0px 10px #0004;
	cursor: pointer;
	transition: var(--trans-fast);
}

#popup-exit:hover {
	background: #B22;
	transform: scale(1.1);
}

#popup-text {
	overflow-y: auto;
	box-sizing: border-box;
	padding: 20px 30px;
	user-select: text;
	max-height: -webkit-fill-available;
}

#popup-text::-webkit-scrollbar {
	background: var(--wincol);
	width: 10px;
	border-radius: 0px var(--corm) var(--corm) 0px;
}

#popup-text::-webkit-scrollbar-thumb {
	background: var(--wincol-lighten);
	border-radius: 5px;
	height: 20px;
	border: 3px solid var(--wincol);
}

#popup-text::-webkit-scrollbar-thumb:hover {
	background: var(--pricol-light);
}

#popup-text b {
	color: var(--txtcol);
	display: inline;
	white-space-collapse: preserve;
}

#popup-text p {
	color: var(--txtcol-muted);
	display: inline;
	white-space-collapse: preserve;
}

#popup-text i {
	color: var(--txtcol-subtle);
	display: inline;
	white-space-collapse: preserve;
}

#popup-text a {
	color: var(--txtcol-link);
	display: block;
	cursor: pointer;
	word-break: break-word;
	transition: var(--trans-fast);
}

#popup-text a:hover {
	color: var(--txtcol-link-hover);
	text-shadow: 0px 0px 10px var(--pricol-light);
}

#stream-header {
	display: flex;
	align-items: flex-start;
	margin-bottom: 8px;
}

#stream-header a {
	display: block;
	max-width: 140pt;
	margin-bottom: -3px;
	cursor: pointer;
}

#stream-header a img {
	display: block;
	width: 100%;
	pointer-events: none;
	user-select: none;
	transition: var(--trans-fast);
}

#stream-header a:hover img {
	filter: drop-shadow(0px 0px 3px #FFFB) brightness(1.4);
}

#stream-header span {
	display: flex;
	margin-top: 2pt;
	align-items: baseline;
}

#stream-header span i {
	display: block;
	font-family: monospace;
	color: #45A5FF;
	text-shadow: 0px 0px 7px #008CCEAA;
	font-size: 20pt;
	line-height: 1;
	user-select: none;
	pointer-events: none;
}

#sh-slash {
	margin: 0px 4px 0px 0px;
}

#page-load-time {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 4px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background: var(--wincol);
	border-top: 2px solid var(--wincol-lighter);
	border-left: 2px solid var(--wincol-lighter);
	box-shadow: var(--winshadow);
	border-radius: var(--cors) 0px 0px 0px;
	padding: 7px 10px;
	box-sizing: border-box;
	cursor: default;
	z-index: 10000;
}

#page-load-time i {
	color: var(--txtcol-subtle);
	font-size: 11pt;
}

#page-load-time b {
	color: var(--txtcol-link-hover) !important;
	text-shadow: 0px 0px 5px var(--pricol);
	font-size: 12pt !important;
}

#stream-container {
	display: flex;
	align-items: stretch;
	align-content: flex-start;
	flex-wrap: wrap;
	width: calc(100% + 20px);
	margin: 10px -8px 0px -8px;
}

.stream-box {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	width: calc(33.33% - 10px);
	margin: 5px;
	background: var(--back);
	border: 3px solid var(--border);
	box-shadow: 0px 0px 30px var(--backshadow) inset, 0px 0px 20px var(--shadow);
	border-radius: var(--corl);
	padding: 30px;
	box-sizing: border-box;
}

.stream-visual {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 20pt;
}

.stream-visual img {
	display: block;
	max-height: 170px;
	max-width: 100%;
}

.stream-visual canvas {
	display: block;
	max-height: 170px;
	max-width: 100%;
	height: 100vh;
}

.stream-box b {
	color: var(--txtcol) !important;
	text-shadow: 0px 0px 12px #FFF4;
	font-size: 22pt !important;
	word-break: break-word;
	text-align: center;
}

.stream-box p {
	color: var(--txtcol-muted) !important;
	font-size: 14pt !important;
	text-align: center;
}

.stream-box i {
	color: #FFFD !important;
	margin-top: 2pt;
	font-weight: bold;
	font-size: 14pt !important;
}

.stream-box span {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.stream-box span i {
	color: var(--txtcol-subtle) !important;
	margin-top: 5px !important;
	font-size: 11pt !important;
	font-weight: normal !important;
}

.stream-box span img {
	display: inline-block;
	height: 11pt;
	cursor: pointer;
	padding: 3px 3px 3px 5px;
	margin-bottom: -5pt;
	margin-right: -5pt;
	opacity: 0.3;
	transition: var(--trans-fast);
}

.stream-box span img:hover {
	transform: scale(1.1);
	opacity: 1;
}

.stream-source {
	flex-flow: row wrap !important;
}

#disclaimer {
	display: block !important;
	margin-top: 10px;
	width: 100%;
	text-align: right;
	color: var(--txtcol-subtle) !important;
}

#more-streams {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	width: calc(100% + 16px);
	margin: 10px -8px 0px -8px;
}

.stream {
	display: flex !important;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	width: calc(20% - 10px);
	margin: 5px !important;
	background: var(--wincol);
	border: 2px solid var(--wincol-lighter);
	border-radius: var(--corm);
	padding: 10px;
	box-sizing: border-box;
	text-shadow: none !important;
}

.stream:hover {
	background: var(--wincol-lighten);
	border: 2px solid var(--txtcol-link);
	transform: scale(1.03);
}

.stream-thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 5px;
}

.stream-thumbnail img {
	display: block;
	max-height: 128px;
	max-width: 100%;
}

.stream b {
	display: block;
	width: 100% !important;
	text-align: center;
	color: var(--txtcol-link-hover) !important;
	text-shadow: 0px 0px 7px var(--pricol);
	font-size: 14pt !important;
}

.stream-description {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2px;
}

.stream-description i {
	color: var(--txtcol-muted) !important;
	font-size: 12pt !important;
	text-align: center;
}

@media screen and (max-width: 1100px) {
	#popup {
		max-width: calc(100vw - 50px);
		max-height: calc(100vh - 100px);
	}

	.stream-box {
		width: calc(50% - 10px);
	}

	.stream {
		width: calc(25% - 10px);
	}
}

@media screen and (max-width: 1000px) {
	#source-popup-main {
		width: 70%;
		height: 80%;
	}
}

@media screen and (max-width: 800px) {
	#source-popup-main {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
	}

	.stream-box {
		width: 100%;
	}

	.stream {
		width: calc(33.33% - 10px);
	}
}

@media screen and (max-width: 600px) {
	#stream-header {
		flex-flow: column;
		align-items: center;
	}

	#sh-slash {
		display: none !important;
	}

	.stream {
		width: calc(50% - 10px);
	}
}

@media screen and (max-width: 450px) {
	.stream {
		width: 100%;
	}
}