body {
	background: var(--semi-back);
}

.fps {
	width: 100%;
	text-align: left;
}

#source-popup-back {
	position: fixed;
	display: block;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #000A;
	cursor: pointer;
	z-index: 10000;
	transition: 0.2s;
}

#source-popup-back:hover {
	background: #000B;
}

#source-popup-container {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	pointer-events: none;
	z-index: 10000;
	transition: 0.2s;
}

#source-popup-main {
	display: block;
	position: relative;
	background: var(--close-back);
	border-radius: 5px;
	width: 50%;
	height: 80%;
	box-shadow: 0px 0px 20px #000A;
	pointer-events: visible;
	font-family: sans-serif;
	transition: 0.2s;
}

#source-popup-close {
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 7px;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
	z-index: 1;
	transition: 0.2s;
}

#source-popup-close:hover {
	background: var(--hover-back1);
}

#source-popup {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
}

#source-popup h1 {
	display: block;
	width: 100%;
	text-align: center;
	color: var(--base-text);
	font-size: 14pt;
	padding: 10px 36px 10px 13px;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-height: 42px;
}

.popup-scroll {
	overflow-y: scroll;
	box-sizing: border-box;
	padding: 0px 0px 0px 10px;
	user-select: text;
}

.popup-scroll::-webkit-scrollbar {
	background: var(--close-back);
	width: 10px;
	border-radius: 0px 3px 3px 0px
}

.popup-scroll::-webkit-scrollbar-thumb {
	background: var(--closer-back);
	border-radius: 5px;
	height: 20px;
	border: 3px solid var(--close-back);
}

.popup-scroll::-webkit-scrollbar-thumb:hover {
	background: var(--hover-back2);
}

.popup-scroll b {
	color: var(--base-text);
	display: inline;
	white-space-collapse: preserve;
}

.popup-scroll p {
	color: var(--brighter-italic-text);
	display: inline;
	white-space-collapse: preserve;
}

.popup-scroll i {
	color: var(--italic-text);
	display: inline;
	white-space-collapse: preserve;
}

.popup-scroll a {
	color: var(--theme3);
	display: block;
	cursor: pointer;
	word-break: break-word;
	transition: 0.2s;
}

.popup-scroll a:hover {
	color: var(--theme4);
	text-shadow: 0px 0px 10px var(--theme2);
}

.general-link {
	display: inline !important;
}

#stream-header {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	margin: 10px 0px 10px 0px;
}

#stream-header div {
	display: flex;
	align-items: flex-start;
}

#stream-header div a {
	display: block;
	max-width: 150px;
	margin-bottom: -3px;
	cursor: pointer;
}

#stream-header div a img {
	display: block;
	width: 100%;
	pointer-events: none;
	user-select: none;
	transition: 0.2s;
}

#stream-header div a:hover img {
	filter: drop-shadow(0px 0px 3px #FFFB) brightness(1.4);
}

#stream-header div span {
	display: flex;
	margin-top: 2pt;
	align-items: baseline;
}

#stream-header div span i {
	display: block;
	font-family: monospace;
	font-weight: 300;
	color: #45A5FF;
	text-shadow: 0px 0px 7px #008CCEAA;
	font-size: 15pt;
	line-height: 1;
	user-select: none;
	pointer-events: none;
}

#sh-slash {
	margin: 0px 4px 0px 0px;
}

#content-main {
	box-shadow: none;
	background: var(--semi-back);
	margin: 0px 0px 0px 0px;
	border-radius: 0px;
	min-height: calc(100vh - 50px);
	padding: 0px 20px 20px 20px;
}

#page-load-time {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 4px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	background: var(--close-back);
	border-top: 2px solid var(--closer-back);
	border-left: 2px solid var(--closer-back);
	box-shadow: 0px 0px 15px #0005;
	border-radius: 5px 0px 0px 0px;
	padding: 7px 10px;
	box-sizing: border-box;
	cursor: default;
	z-index: 10000;
}

#page-load-time i {
	color: var(--italic-text);
	font-size: 11pt;
}

#page-load-time b {
	color: var(--theme4) !important;
	text-shadow: 0px 0px 5px var(--theme1);
	font-size: 12pt !important;
}

#stream-container {
	display: flex;
	align-items: stretch;
	align-content: flex-start;
	flex-wrap: wrap;
	width: calc(100% + 16px);
	margin: 10px -8px 0px -8px;
}

.stream-box {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	width: calc(20% - 4px);
	margin: 2px;
	background: var(--back);
	border: 2px solid var(--border);
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
}

.stream-visual {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 5px;
}

.stream-visual img {
	display: block;
	max-height: 128px;
	max-width: 100%;
}

.hidden {
	position: absolute;
	opacity: 1;
}

.stream-visual canvas {
	display: block;
	max-height: 128px;
	max-width: 100%;
	height: 100vh;
}

.stream-box b {
	color: var(--theme4) !important;
	text-shadow: 0px 0px 7px var(--theme1);
	font-size: 14pt !important;
	word-break: break-word;
}

.stream-box p {
	color: var(--brighter-italic-text) !important;
	font-size: 13pt !important;
}

.stream-box i {
	color: var(--italic-text) !important;
	margin-top: 1px;
	font-weight: bold;
	font-size: 12pt !important;
}

.stream-box span i {
	color: var(--italic-text) !important;
	margin-top: 5px !important;
	font-size: 11pt !important;
	font-weight: normal !important;
}

.stream-box span img {
	display: inline-block;
	height: 11pt;
	cursor: pointer;
	padding: 3px 3px 3px 5px;
	margin-bottom: -5pt;
	margin-right: -5pt;
	opacity: 0.6;
	transition: 0.2s;
}

.stream-box span img:hover {
	transform: scale(1.1);
	opacity: 1;
}

#disclaimer {
	display: block !important;
	margin-top: 10px;
	width: 100%;
	text-align: right;
	color: var(--italic-text);
}

#more-streams {
	display: flex;
	align-items: stretch;
	align-content: flex-start;
	flex-wrap: wrap;
	width: calc(100% + 16px);
	margin: 10px -8px 0px -8px;
}

.stream {
	display: flex !important;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	width: calc(20% - 6px);
	margin: 3px !important;
	background: var(--base-back);
	border: 2px solid var(--closer-back);
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	text-shadow: none !important;
}

.stream:hover {
	background: var(--close-back);
	border: 2px solid var(--italic-text);
	transform: scale(1.03);
}

.stream-thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 5px;
}

.stream-thumbnail img {
	display: block;
	max-height: 128px;
	max-width: 100%;
}

.stream b {
	display: block;
	width: 100% !important;
	text-align: center;
	color: var(--theme4) !important;
	text-shadow: 0px 0px 7px var(--theme1);
	font-size: 14pt !important;
}

.stream-description {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2px;
}

.stream-description i {
	color: var(--italic-text) !important;
	font-size: 12pt !important;
	text-align: center;
}

#content-main p {
	color: var(--base-text);
}

#content-main i {
	color: var(--italic-text);
}

#content-main ul li::marker {
	color: var(--italic-text);
}

@media screen and (max-width: 1100px) {
	.stream-box {
		width: calc(25% - 4px);
	}

	.stream {
		width: calc(25% - 6px);
	}
}

@media screen and (max-width: 1000px) {
	#source-popup-main {
		width: 70%;
		height: 80%;
	}
}

@media screen and (max-width: 800px) {
	#source-popup-main {
		width: calc(100% - 20px);
		height: calc(100% - 20px);
	}

	.stream-box {
		width: calc(33.33% - 4px);
	}

	.stream {
		width: calc(33.33% - 6px);
	}
}

@media screen and (max-width: 600px) {
	.stream-box {
		width: calc(50% - 4px);
	}

	.stream {
		width: calc(50% - 6px);
	}
}

@media screen and (max-width: 450px) {
	.stream-box {
		width: 100%;
	}

	.stream {
		width: 100%;
	}
}