body, html {
	margin: 0px;
	min-height: 100vh;
	height: auto;
	box-sizing: border-box;
	padding: 0px;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.8) inset;
}

body {
	background: #1E1E1E;
	color: #F5F5F5;
	font-family: monospace;
	font-size: 12pt;
	box-shadow: none;
	padding: 20px;
}

::selection {
	background: #444;
	color: #AAA;
}

body a {
	font-size: 12pt;
	color: #85C5F5;
	display: inline;
	text-decoration: none;
	transition: 0.3s;
	cursor: pointer;
	margin: 0px;
}

body a:hover {
	text-shadow: 0px 0px 10px rgba(133,197,245,0.5);
}

#nav-back {
	background: rgba(30,30,30,0);
	width: 150px;
	position: absolute;
	transition: 0.5s;
	margin: 0px 0px 0px 0px;
	padding: 7px 15px;
	border-radius: 30px;
	cursor: pointer;
}

#nav-back:hover {
	background: #2E2E2E;
	transform: scale(1.13);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

#version {
	width: calc(100% - 8px);
	margin: 0px 0px 20px 0px;
	border-radius: 5px;
	padding: 0px 20px;
	float: left;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	color: #555555;
	cursor: default;
}

#title {
	display: block;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
	text-shadow: 0px 0px 15px rgba(0,0,0,1);
	cursor: default;
	margin: 0px auto 30px auto;
	width: fit-content;
}

#info {
	display: block;
	text-align: center;
	font-size: 13pt;
	font-weight: bold;
	text-shadow: 0px 0px 15px rgba(0,0,0,1);
	cursor: default;
	margin: -20px auto 0px auto;
	color: #808080;
	width: fit-content;
}

#note-background {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #0008;
	z-index: 999999;
	transition: 0.5s;
}

#note-popup {
	position: fixed;
	width: 400px;
	height: 200px;
	background: #252525;
	border-radius: 5px;
	box-shadow: 0px 0px 30px #000A;
	box-sizing: border-box;
	color: #A5A5A5;
	padding: 20px;
	z-index: 9999999;
	cursor: default;
	transition: 0.5s;
}

#note-text {
	width: 100%;
	margin: 0px;
	height: -webkit-fill-available;
	overflow-y: auto;
}

#note-text::-webkit-scrollbar {
	width: 15px;
}

#note-text::-webkit-scrollbar-thumb {
	background: #353535;
	border: 5px solid #252525;
	border-radius: 20px;
}

#note-text::-webkit-scrollbar-thumb:hover {
	background: #454545;
}

#note-text p {
	margin: 0px;
	display: inline;
}

.nc {
	border-radius: 3px !important;
	padding: 0px 5px !important;
	background: #181818 !important;
}

#note-close {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	cursor: pointer;
	transition: 0.3s;
	right: -16px;
	top: -16px;
	position: absolute;
	background: #404040;
	box-shadow: 0px 0px 10px #0004;
}

#note-close:hover {
	background: #555;
	box-shadow: 0px 0px 10px #0008;
}

#element {
	width: calc(100% - 8px);
	margin: 20px 0px 20px 0px;
	border-radius: 5px;
	background: #252525;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	padding: 20px;
	float: left;
	display: block;
	overflow: hidden;
	box-sizing: border-box;
}

#interactive-code-menu {
	display: block;
	position: absolute;
	background: #252525;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	width: 200px;
	height: auto;
	max-height: 60vh;
	overflow-y: auto;
	box-sizing: border-box;
	padding: 7px 10px;
	z-index: 999;
}

#interactive-code-menu::-webkit-scrollbar {
	background: #303030;
	border-radius: 0px 5px 5px 0px;
	width: 12px;
}

#interactive-code-menu::-webkit-scrollbar-thumb {
	background: #454545;
	border-radius: 5px;
	border: 3px solid #303030;
	height: 50px;
}

#interactive-code-menu::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.icode-button {
	width: 100%;
	background: #303030;
	border-radius: 5px;
	margin: 3px 0px;
	border: none;
	outline: none;
	color: #F5F5F5;
	box-sizing: border-box;
	padding: 5px 8px;
	cursor: pointer;
	transition: 0.2s;
}

.icode-button:hover {
	background: #3A3A3A;
}

.icode-button:active {
	background: #4A4A4A;
	transition: 0s;
}

.icode-number {
	width: 100%;
	background: #181818;
	box-shadow: 0px 0px 10px #0005 inset;
	border-radius: 5px;
	margin: 3px 0px;
	border: none;
	outline: none;
	color: #F5F5F5;
	box-sizing: border-box;
	padding: 5px 8px;
	transition: 0.2s;
	font-family: monospace;
}

.icode-number:focus {
	background: #151515;
}

#interactive-code-menu-tooltip {
	display: block;
	position: absolute;
	background: #303030;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	width: auto;
	max-width: 400px;
	height: auto;
	box-sizing: border-box;
	padding: 5px 8px;
	color: #BBB;
	z-index: 999;
	cursor: default;
	overflow: hidden;
	pointer-events: none;
}

#toolbar {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
	padding: 7px 10px;
	background: #303030;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #0003;
	margin: 0px 0px 10px 0px;
	align-items: center;
}

.tool {
	width: 32px;
	height: 32px;
	margin: 0px 5px 0px 0px;
	cursor: pointer;
	border-radius: 16px;
	transition: 0.3s;
	user-select: none;
}

.tool:hover {
	background: #555;
	box-shadow: 0px 0px 5px #0003;
}

.tool:active {
	background: #777;
	transition: 0s;
}

#display-size {
	width: fit-content;
	margin: 0px auto 0px auto;
	padding-right: 5px; 
	text-align: center;
	display: block;
	color: #F5F5F5;
}

#element-section {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: nowrap;
	border-radius: 5px;
	overflow: hidden;
}

#element-script {
	display: flex;
	background: #181818;
	border-radius: 5px;
	width: calc(50% - 10px);
	box-shadow: 0px 0px 20px #0005 inset;
	margin-right: 0px;
	padding: 0px;
	font-family: monospace !important;
	font-size: 12pt !important;
	line-height: 15pt !important;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	z-index: 99;
}

#copy-code {
	width: 32px;
	height: 32px;
	cursor: pointer;
	position: absolute;
	right: 0px;
	border-radius: 0px 0px 0px 10px;
	transition: 0.3s;
	user-select: none;
}

#copy-code:hover {
	background: #333;
	box-shadow: 0px 0px 10px #FFF1;
	transition: 1s ease-out;
	transition: 0.3s;
}

#copy-code:active {
	box-shadow: 0px 0px 20px #FFF5;
	background: #444;
	transition: 0s;
}

#script-lines {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: auto;
	padding: 10px 8px;
	background: #FFFFFF05;
	user-select: none;
	cursor: default;
}

#script-lines b {
	display: block;
	width: auto;
	background: #20202000;
	height: 15pt;
	font-size: 12pt;
	line-height: 15pt;
	text-align: right;
	box-sizing: border-box;
	color: #606060;
}

#script-text-container {
	margin: 0px;
	padding: 0px;
	display: block;
	box-sizing: border-box;
	cursor: default;
	width: 100%;
	font-size: 12pt;
	line-height: 15pt;
	overflow-x: auto;
	text-overflow: clip;
	white-space: nowrap;
}

#script-text-container::-webkit-scrollbar {
	height: 14px;
	background: #1E1E1E;
}

#script-text-container::-webkit-scrollbar-thumb {
	background: #303030;
	border: 3px solid #1E1E1E;
	border-radius: 15px;
}

#script-text-container::-webkit-scrollbar-thumb:hover {
	background: #353535;
}

#script-text {
	margin: 0px;
	padding: 10px 35px 10px 5px;
	display: block;
	box-sizing: border-box;
	cursor: text;
	width: fit-content;
	font-size: 12pt;
	line-height: 15pt;
	white-space: nowrap;
}

#script-text p {
	margin: 0px;
	display: inline;
}

.t0 { /* Comments */
	color: #555 !important;
}

.t1 { /* White */
	color: #EEE !important;
}

.t2 { /* Characters ()<>;#&/\:; */
	color: #9A9 !important;
}

.t3 { /* Tags and Functions, CSS px etc. */
	color: #EA5550 !important;
}

.t4 { /* Quotes */
	color: #DAD065 !important;
}

.t5 { /* HTML Attributes, CSS #IDs */
	color: #70D050 !important;
}

.t6 { /* JS Booleans//types/etc., VB.NET Strings */
	color: #EA8060 !important;
}

.t7 { /* JS Function Parameters, CSS events/actions */
	color: #FA5 !important;
}

.t8 { /* Numbers, #HEX colors */
	color: #5AF !important;
}

.t9 { /* CSS Parameters, VB.NET Predefined functions/variables */
	color: #7DE !important;
}

.t10 { /* VB.NET Objects and Math Operators */
	color: #888 !important;
}

.t11 { /* VB.NET Operators */
	color: #24F !important;
}

.t12 { /* PY Operators */
	color: #F57 !important;
}

.icode {
	cursor: pointer;
	transition: 0.2s;
	border-radius: 3px;
	border: 1px dashed #444;
	padding: 0px 2px;
}

.icode:hover {
	background: #2A2A2A;
	border: 1px dashed #4440;
}

.icode:active {
	user-select: none;
}

.cnote {
	width: 13pt;
	height: 13pt;
	margin: 0pt 0pt -3pt 3pt;
	background: #FFFFFF1A;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.2s;
	user-select: none;
}

.cnote:hover {
	background: #FFF3;
}

#splitter {
	display: block;
	width: 30px;
	height: auto;
	cursor: col-resize;
	position: relative;
	margin: 0px -5px;
	z-index: 0;
	transition: 0.3s;
}

#splitter:hover {
	background: #FFF1;
}

#element-display {
	background: #181818;
	border-radius: 5px;
	width: calc(50% - 10px);
	box-shadow: 0px 0px 20px #0005 inset;
	margin-left: 0px;
	position: relative;
	z-index: 99;
	min-height: 75px;
	box-sizing: border-box;
	padding: 0px;
	overflow: hidden;
}

#display-default {
	width: 100%;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

#display-default b {
	text-align: center;
	font-size: 30pt;
	color: #FFF1;
	user-select: none;
	cursor: default;
}

#element p {
	display: inline;
	color: #CCC;
}

#description {
	margin-top: 20px;
}