@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

#tool-input-bases {
	display: grid;
	grid-template-columns: minmax(0, 1fr) 0fr minmax(0, 1fr);
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.base-input {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
}

.base-input b {
	color: var(--txtcol-subtle) !important;
	font-size: 14pt !important;
	font-family: 'Barlow', sans-serif !important;
	font-weight: 500 !important;
	letter-spacing: 0.5pt;
	padding: 0;
	pointer-events: none;
	user-select: none;
	white-space: nowrap;
}

.base-input input {
	position: relative;
	text-align: center;
	font-family: 'Barlow', sans-serif;
	font-weight: 500;
	font-size: 16pt;
	min-width: 0;
	width: 70pt;
	max-width: 100%;
	padding-bottom: 2px;
	border-radius: var(--cors);
	border: none;
	outline: none;
	background: linear-gradient(90deg, transparent, var(--pricol), transparent) bottom / 100% 2px no-repeat;
	color: var(--txtcol);
	transition: var(--trans);
}

.base-input input:focus {
	background: linear-gradient(90deg, transparent, var(--pricol-hover), transparent) bottom / 100% 2px no-repeat,
		radial-gradient(ellipse 80% 20px at bottom center, var(--pricol-darken), transparent 60%) bottom / 100% 24px no-repeat,
		var(--wincol-darken) bottom / 100% 2px no-repeat;
	box-shadow: var(--inshadow);
}

.base-input input::-webkit-outer-spin-button, .base-input input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.base-input input[type=number] {
	-moz-appearance: textfield;
}

#tool-input-bases img {
	display: block;
	margin: 0;
	padding: 9px;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	border-radius: var(--corf);
	background: var(--wincol-light);
	cursor: pointer;
	transition: var(--trans-fast);
}

#tool-input-bases img:hover {
	background: var(--wincol-lighter);
	box-shadow: 0 0 12px #0005;
	transform: scale(1.1);
}

#tool-output {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
	width: 100%;
	min-height: 10px;
	box-sizing: border-box;
	border-radius: var(--cors);
	background: linear-gradient(90deg, transparent, var(--pricol-hover), transparent) bottom / 100% 2px no-repeat,
		radial-gradient(ellipse 80% 20px at bottom center, var(--pricol-darken), transparent 60%) bottom / 100% 24px no-repeat,
		var(--wincol-darken) bottom / 100% 2px no-repeat;
	box-shadow: var(--inshadow);
	cursor: text;
}

#tool-output b {
	flex: 1 1 0;
	text-align: center;
	font-size: 18pt !important;
	font-family: 'Barlow', sans-serif !important;
	font-weight: 500 !important;
	letter-spacing: 1pt;
	word-wrap: break-word;
	min-width: 0%;
	padding: 5px 0 5px 10px;
	color: var(--txtcol) !important;
	cursor: text;
}

#tool-output img {
	display: block;
	align-self: flex-start;
	margin-top: -2px; margin-right: -3px;
	width: 30px;
	height: 30px;
	box-sizing: border-box;
	padding: 5px;
	border-radius: var(--corf);
	cursor: pointer;
	transition: var(--trans);
}

#tool-output img:hover {
	background: var(--wincol-lighter);
	box-shadow: 0 0 15px #0005;
	transform: scale(1.1);
	transition: var(--trans-fast);
}

#tool-output img:active {
	background: var(--pricol-light);
	transition: 0s;
}

#error {
	font-family: 'Barlow', sans-serif !important;
	font-weight: 400;
	font-size: 11pt !important;
	margin-top: 10px;
	color: #ff6666 !important;
}

#edit-numerals {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: absolute;
	align-self: center;
	font-family: 'Barlow', sans-serif !important;
	font-weight: 500;
	font-size: 12pt;
	bottom: -30px;
	height: 30px;
	padding: 0 16px 2px 16px;
	border: none;
	outline: none;
	border-radius: 0 0 var(--corm) var(--corm);
	background: var(--pricol);
	cursor: pointer;
	transition: var(--trans-fast);
}

#edit-numerals:hover {
	background: var(--pricol-hover);
}

#edit-numerals img {
	width: 20px;
	height: 20px;
}

#numeral-list {
	display: flex;
	flex-flow: column;
	gap: 5px;
	width: 100%;
	max-width: 700px;
	min-height: 70px;
	box-sizing: border-box;
	margin-top: 15px;
	padding: 10px;
	border-radius: var(--corm);
	background: var(--wincol);
	box-shadow: var(--winshadow);
}

#numeral-list b {
	display: block !important;
	font-size: 14pt;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	padding: 2px 5px;
	color: var(--txtcol);
	background: var(--wincol-light);
	border-radius: var(--cors);
}

#numeral-list-menu {
	display: flex;
	align-items: center;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	border-radius: var(--cors);
	background: var(--wincol-light);
	overflow: hidden;
}

#numeral-list-input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: var(--cors);
	background: var(--bgcol-darken);
	box-shadow: 0px 0px 10px #0005 inset;
	border: none;
	outline: none;
	font-size: 11pt;
	font-weight: bold;
	padding: 2px 6px;
	height: 24px;
	color: var(--txtcol);
	margin: 0px 3px 0px 3px;
}

#numeral-list-menu img {
	display: block;
	box-sizing: border-box;
	padding: 6px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#numeral-list-menu img:hover {
	background: var(--wincol-lighten);
}

#numeral-list-items {
	display: grid;
	grid-template-columns: repeat(10, minmax(0, 1fr));
	gap: 5px;
}

#numeral-list-items span {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding: 3px;
	border-radius: var(--cors);
	background: var(--wincol-light);
}

#numeral-list-items span p {
	display: block;
	position: absolute;
	padding: 1px 6px;
	background: var(--pricol);
	color: #F5F5F5;
	border-radius: 2px 2px 0px 0px;
	font-size: 8pt;
	height: 15px;
	box-sizing: border-box;
	top: -15px;
	right: 3px;
	pointer-events: none;
	opacity: 0;
	font-family: sans-serif;
	z-index: 1;
}

#numeral-list-items span:hover p {
	opacity: 1;
}

#numeral-list-items span input {
	display: block;
	width: 100%;
	background: var(--bgcol-darken);
	border: none;
	outline: none;
	color: var(--txtcol);
	font-size: 11pt;
	font-weight: bold;
	padding: 3px 5px 2px 5px;
	position: relative;
	border-radius: 3px;
	text-align: center;
}

#numeral-list-items span img {
	display: block;
	box-sizing: border-box;
	padding: 4px;
	width: 19px;
	height: 19px;
	border-radius: 10px;
	margin: 1px 1px 1px 4px;
	cursor: pointer;
}

#numeral-list-items span img:hover {
	background: #F00A;
}

#supported-bases {
	display: block !important;
	font-size: 8pt !important;
	word-spacing: 0;
	line-height: 1.2 !important;
}

#supported-bases i {
	font-size: 8pt !important;
	word-spacing: 0;
}

@media screen and (max-width: 650px) {
	#numeral-list-items {
		grid-template-columns: repeat(9, minmax(0, 1fr));
	}
}

@media screen and (max-width: 600px) {
	#numeral-list-items {
		grid-template-columns: repeat(8, minmax(0, 1fr));
	}
}

@media screen and (max-width: 530px) {
	#numeral-list-items {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	}
}

@media screen and (max-width: 470px) {
	#numeral-list-items {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
}

@media screen and (max-width: 400px) {
	#numeral-list-items {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}

@media screen and (max-width: 340px) {
	#numeral-list-items {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

@media screen and (max-width: 300px) {
	#numeral-list-items {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}