#brand-items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 20px);
	margin: 10px -10px 0px -10px;
}

.brand-item {
	display: flex !important;
	width: calc(50% - 20px) !important;
	gap: 10px;
}

.brand-item-image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.brand-item-image img {
	display: block;
	width: 100%;
	max-width: 200px;
	max-height: 200px;
}

.brand-item-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
}

.brand-item-download {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 10px;
}

@media screen and (max-width: 1100px) {
	.brand-item-download {
		flex-flow: column;
	}
}

@media screen and (max-width: 700px) {
	.brand-item {
		width: 100% !important;
	}

	.brand-item-download {
		flex-flow: row;
	}
}

@media screen and (max-width: 590px) {
	.brand-item-download {
		flex-flow: column;
	}
}