.title2 {
	margin-top: 12px !important;
	margin-bottom: 0px !important;
	font-size: 13pt !important;
}

#content-main article p {
	color: var(--txtcol-muted);
}

#content-main article ul {
	color: var(--txtcol-muted);
}

#content-main article ul li::marker {
	color: var(--pricol-light);
}

#content-main article i {
	color: var(--txtcol-subtle);
}

#content-main article img {
	display: block;
	max-width: 100%;
	max-height: 60vh;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #0005;
	box-sizing: border-box;
	border: 2px solid var(--closer-back);
}