#donate-main {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 150px);
	margin-top: 20px;
}

#donate-main h1 {
	font-family: sans-serif;
	font-size: 18pt;
	color: var(--base-text);
	text-align: center;
	text-shadow: 0px 0px 30px #FFF3;
}

#donate-main h2 {
	font-family: sans-serif;
	font-size: 16pt;
	color: var(--base-text);
	text-align: center;
	text-shadow: 0px 0px 20px #FFF3;
}

#donate-options {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 20px;
	width: 100%;
	padding: 20px;
	margin-top: 0pt;
	box-sizing: border-box;
}

#paypal {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	background: #0060FF30;
	padding: 20px 15px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 3px solid #15A0FF;
	box-shadow: 0px 0px 30px #38A1FF4F inset, 0px 0px 30px #005FFF59;
}

#paypal h1 {
	font-size: 16pt;
}

#paypal-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px 0px;
	max-width: 280pt;
}

#paypal-options label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	box-sizing: border-box;
	width: 70pt;
	height: 40pt;
	cursor: pointer;
	user-select: none;
}

#paypal-options label span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--base-text);
	font-size: 16pt;
	font-weight: bold;
	font-family: sans-serif;
	border: 3px solid #08F;
	box-shadow: 0px 0px 15px #0087FF47 inset, 0px 0px 30px #005FFF20;
	text-shadow: 0px 0px 15px #0087FF47;
	border-radius: 6px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: 0.2s;
}

#paypal-options label input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

#paypal-options label:hover span {
	background: #08F5;
}

#paypal-options label input:checked ~ span {
	background: #08F;
	box-shadow: 0px 0px 15px #0087FF50;
}

#paypal a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 16pt;
	color: var(--base-text);
	background: #08F;
	border-radius: 50px;
	padding: 6pt 20pt;
	margin: 10px 0px 10px 0px;
	box-shadow: 0px 0px 30px #005FFF59;
	transition: 0.2s;
}

#paypal a:hover {
	background: #0AF;
	box-shadow: 0px 0px 15px #0087FF80;
	text-shadow: none;
}

#youtube {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	background: #FF830035;
	padding: 20px 15px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 3px solid #FFAD1C;
	box-shadow: 0px 0px 30px #FFCD3840 inset, 0px 0px 30px #FF7D0054;
}

#youtube h1 {
	font-size: 16pt;
}

#youtube-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px 0px 0px 0px;
	max-width: 240pt;
}

#youtube-options label {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	box-sizing: border-box;
	width: 80pt;
	height: 40pt;
	cursor: pointer;
	user-select: none;
}

#youtube-options label span {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--base-text);
	font-size: 16pt;
	font-weight: bold;
	font-family: sans-serif;
	border: 3px solid #F80;
	box-shadow: 0px 0px 15px #FFCF0030 inset, 0px 0px 30px #FFCF0030;
	text-shadow: 0px 0px 15px #FFCF0030;
	border-radius: 6px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: 0.2s;
}

#youtube-options label input {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

#youtube-options label:hover span {
	background: #F805;
}

#youtube-options label input:checked ~ span {
	background: #F80;
	box-shadow: 0px 0px 15px #FFCF0030;
}

#youtube i {
	font-size: 12pt;
	font-family: sans-serif;
	color: #F905;
	margin-bottom: 5px;
}

#youtube a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 16pt;
	color: var(--base-text);
	background: #F70;
	border-radius: 50px;
	padding: 6pt 20pt;
	margin: 10px 0px 10px 0px;
	box-shadow: 0px 0px 30px #FF780030;
	transition: 0.2s;
}

#youtube a:hover {
	background: #F80;
	box-shadow: 0px 0px 15px #FF840060;
	text-shadow: none;
}

#heart {
	display: block;
	width: 50px;
	height: 50px;
	margin-bottom: -15px;
	filter: drop-shadow(0px 0px 10px #F46A);
	z-index: 100;
}

#donate-main p {
	font-family: sans-serif;
	font-size: 14pt;
	color: var(--base-text);
	text-align: center;
	width: calc(100% - 40px);
	margin: 0px 20px;
	background: #FFF1;
	padding: 13px 15px;
	border-radius: 10px;
	border: 3px solid #999;
	box-sizing: border-box;
	box-shadow: 0px 0px 30px #FFF1 inset, 0px 0px 30px #FFF2;
	cursor: default;
}

#ls-members, #hls-members, #hs-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
	margin-bottom: 30px;
}

#ls-members b {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FF830035;
	border: 3px solid #FFAD1C;
	box-shadow: 0px 0px 30px #FFCD3840 inset, 0px 0px 30px #FF7D0054;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 15pt;
	color: var(--base-text);
	text-align: center;
	padding: 10pt 20pt;
}

#hls-members b {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0060FF30;
	border: 3px solid #15A0FF;
	box-shadow: 0px 0px 30px #38A1FF4F inset, 0px 0px 30px #005FFF59;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 14pt;
	color: var(--base-text);
	text-align: center;
	padding: 6pt 15pt;
}

#hs-members b {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFF1;
	border: 3px solid #999;
	box-shadow: 0px 0px 30px #FFF1 inset, 0px 0px 30px #FFF2;
	border-radius: 10px;
	font-family: sans-serif;
	font-size: 14pt;
	color: var(--base-text);
	text-align: center;
	padding: 4pt 12pt;
}

#sps-members, #ts-members, #sbs-members, #ot-supporters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	margin: 5px 0px 30px 0px;
}

#sps-members b {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 13pt;
	color: var(--base-text);
	text-align: center;
	padding: 0pt 12pt;
}

#ts-members b, #sbs-members b, #ot-supporters b {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 12pt;
	color: var(--brighter-italic-text);
	text-align: center;
	padding: 0pt 12pt;
}

@media screen and (max-width: 700px) {
	#donate-options {
		flex-flow: column;
		padding: 20px 0px;
	}

	#paypal {
		width: 100%;
	}

	#youtube {
		width: 100%;
	}

	#donate-main p {
		width: 100%;
		margin: 0px;
	}
}