#welcome-banner {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: calc(100% + 40px);
	height: 25vh;
	min-height: 120px;
	max-height: 300px;
	margin: 0px -20px 20px -20px;
	overflow: hidden;
}

#welcome-banner-back {
	display: block;
	position: absolute;
	top: -10px;
	left: -10px;
	bottom: -10px;
	right: -10px;
	background-position: 50% 50%;
	background-size: cover;
	filter: blur(4px);
	z-index: -5;
}

#welcome-banner-text {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: #0003;
	padding: 0px 25px;
	border-radius: 100px;
	box-shadow: 0px 0px 30px 30px #0003;
}

#welcome-banner-text h1 {
	display: block;
	text-align: center;
	font-size: 30pt;
	color: #FFF;
	text-shadow: 0px 0px 10px #000F;
	font-family: monospace;
	font-weight: 100;
	letter-spacing: 3pt;
	margin: 0px;
}

#welcome-banner-text p {
	display: block;
	text-align: center;
	font-size: 16.2pt;
	color: #FFFC;
	text-shadow: 0px 0px 10px #000F;
	font-family: sans-serif;
}

#welcome-text {
	max-width: 2000px;
	margin: 0px auto 20px auto;
}

#latest-videos {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	max-height: min(80vh, 900px);
	overflow: hidden;
	margin: 10px auto 30px auto;
	padding: 0px 5px;
	max-width: 2000px;
}

#latest-videos-end {
	position: absolute;
	display: block;
	bottom: 0px;
	left: -5px;
	width: calc(100% + 5px);
	height: 15vh;
	background: linear-gradient(#0000 0%, var(--bgcol) 100%);
	z-index: 99;
	pointer-events: none;
}

#latest-videos-more {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0px;
	left: -5px;
	width: calc(100% + 5px);
	height: 30px;
	padding-bottom: 10px;
	z-index: 105;
	pointer-events: none;
}

#latest-videos-more a {
	width: calc(100% - 20px);
	max-width: 150px;
	border: 2px solid var(--wincol-light);
	outline: none;
	background: var(--wincol);
	color: var(--txtcol);
	font-size: 14pt;
	font-weight: bold;
	border-radius: var(--corf);
	padding: 8px 15px;
	cursor: pointer;
	box-shadow: 0px 0px 10px #0005;
	pointer-events: visible;
	text-align: center;
	transition: var(--trans-fast);
}

#latest-videos-more a:hover {
	transform: scaleX(1.05) scaleY(1.05);
	box-shadow: 0px 0px 10px #000A;
	background: var(--wincol-lighter);
	color: var(--txtcol);
	text-shadow: none;
	text-decoration: none;
}

.latest-video-block {
	display: flex !important;
	justify-content: center;
	align-items: center;
	position: relative;
	width: calc((100% / 4) - 16px);
	background: var(--bgcol-dark);
	aspect-ratio: 16 / 9;
	border-radius: var(--corm);
	box-shadow: 0px 0px 10px #000A;
	outline: 2px solid var(--wincol);
	overflow: hidden;
	margin: 8px !important;
	padding: 0px;
	box-sizing: border-box;
	cursor: pointer !important;
	transition: var(--trans) !important;
}

.latest-video-block:hover {
	transform: scaleX(1.05) scaleY(1.05);
	outline: 2px solid var(--pricol-light);
	z-index: 89;
}

.latest-video-type {
	display: block;
	position: absolute;
	height: 25px;
	width: 25px;
	right: 10px;
	top: 10px;
}

.latest-video-new {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 11pt !important;
	font-size-adjust: 0.5;
	line-height: 1;
	background: #F20;
	color: #FFF !important;
	padding: 3px 6px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #F11;
}

.latest-video-thumb {
	display: block;
	margin: 0px;
	pointer-events: none;
	max-width: 100%;
	max-height: 100%;
}

.latest-video-title {
	position: absolute;
	bottom: 0px;
	max-width: 100%;
	min-width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 15px 5px 5px 5px;
	color: #F5F5F5 !important;
	background: linear-gradient(#0000, #000A);
}

.latest-video-title p {
	color: #F5F5F5 !important;
	font-size: 10pt !important;
	cursor: pointer;
	text-shadow: 0px 0px 10px #000A;
}

#main-links {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin: 10px auto 0px auto;
	max-width: 2000px;
}

#main-links a {
	display: flex !important;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	width: calc((100% / 6) - 10px);
	margin: 5px !important;
	border-radius: var(--cors);
	overflow: hidden;
	box-shadow: 0px 0px 10px #000A;
	background: var(--wincol);
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer !important;
	text-align: center;
	transition: 0.2s !important;
}

#main-links a:hover {
	background: var(--wincol-lighten);
	text-decoration: none;
	text-shadow: none;
}

#main-links a img {
	max-height: 100px;
	max-width: 100%;
}

#main-links a b {
	padding: 5px;
}

#site-activity-block {
	margin: 30px 0px 0px 0px;
	box-sizing: border-box;
	height: auto;
}

#stat-map-container {
	width: 100%;
	height: auto;
	min-height: 10vw;
	text-align: center;
	border-radius: var(--corl);
	background: var(--wincol);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	padding: 20px;
	box-sizing: border-box;
	margin: 0px auto;
	max-width: 2000px;
}

#stat-map {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-radius: var(--cors);
	overflow: hidden;
	margin-top: 10px;
	background: var(--wincol);
}


#stat-map b {
	font-size: 25pt;
	color: #FFF2;
	font-weight: bold;
	text-align: center;
	display: block;
	position: absolute;
	z-index: -0;
}

#stat-map iframe {
	position: relative;
	display: block;
	background: var(--wincol);
	border: none;
	outline: none;
	width: 100%;
	max-width: 1200px;
	aspect-ratio: 2 / 1.5;
	z-index: 1;
}

@media screen and (max-width: 2400px) {
	#main-links a {
		width: calc((100% / 5) - 10px);
	}
}

@media screen and (max-width: 1900px) {
	#main-links a {
		width: calc((100% / 4) - 10px);
	}
}

@media screen and (max-width: 1400px) {
	.latest-video-block {
		width: calc((100% / 3) - 16px);
	}

	#main-links a {
		width: calc((100% / 3) - 10px);
	}
}

@media screen and (max-width: 900px) {
	#latest-videos {
		max-height: 110vh;
	}

	.latest-video-block {
		width: calc((100% / 2) - 16px);
	}

	#main-links a {
		width: calc((100% / 2) - 10px);
	}
}

@media screen and (max-width: 500px) {
	#latest-videos {
		max-height: 130vh;
	}

	.latest-video-block {
		width: calc(100% - 16px);
	}

	#main-links a {
		width: calc(100% - 10px);
	}
}