#main-tool {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: stretch;
	margin: 10px 0px;
}

#tool-input {
	display: flex;
	flex-flow: column;
	background: var(--wincol);
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	padding: 10px;
	width: calc(50% - 5px);
}

#tool-input label {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 13pt;
	color: var(--txtcol);
	font-weight: bold;
	margin: 5px 0px 5px 10px;
}

#mode-switch {
	display: flex;
	width: 100%;
	max-width: 300px;
	flex-shrink: 0;
	margin: 0px auto 5px auto;
	overflow: hidden;
	border-radius: 3px;
	border: 2px solid var(--wincol-lighter);
}

#mode-switch button {
	display: block;
	width: 50%;
	outline: none;
	border: none;
	box-sizing: border-box;
	padding: 5px 10px;
	background: var(--wincol-darken);
	color: var(--txtcol);
	cursor: pointer;
	font-size: 11pt;
	font-weight: bold;
	transition: 0.2s;
}

#mode-switch button:hover {
	background: var(--wincol);
	box-shadow: 0px 0px 15px #0005 inset;
}

#mode-switch > button:first-child {
	border-right: 1px solid var(--wincol-lighter);
}

#mode-switch > button:last-child {
	border-left: 1px solid var(--wincol-lighter);
}

.mode-switch-selected {
	background: var(--pricol) !important;
	box-shadow: 0px 0px 15px #0005 inset !important;
}

#main-tool textarea {
	display: block;
	width: 100%;
	min-height: 200px;
	height: -webkit-fill-available;
	background: var(--bgcol-darken);
	border-radius: 3px 3px 0px 0px;
	border: none;
	box-shadow: 0px 0px 10px #0005 inset;
	box-sizing: border-box;
	padding: 8px 10px;
	outline: none;
	color: var(--txtcol);
	resize: none;
	margin: 0px;
	font-size: 12pt;
	white-space: break-spaces;
}

#input-box2 {
	border-top: 2px solid var(--wincol-light) !important;
	border-radius: 0px !important;
	height: 100px !important;
	font-family: math !important;
	font-weight: bold !important;
	background: var(--wincol-darken) !important;
}

.textarea-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: var(--wincol-light);
	box-sizing: border-box;
	border-radius: 0px 0px 3px 3px;
	height: 30px;
	flex-shrink: 0;
	overflow: hidden;
}

.textarea-menu div {
	display: flex;
	align-items: center;
	transform-origin: 0% 50%;
	transition: 0.2s;
}

.textarea-menu div img {
	display: block;
	box-sizing: border-box;
	padding: 6px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.textarea-menu div img:hover {
	background: var(--wincol-lighten);
}

#convert-btn {
	display: block;
	width: 100%;
	max-width: 250px;
	box-sizing: border-box;
	padding: 7px 12px;
	color: var(--txtcol);
	border-radius: 3px;
	background: var(--pricol);
	border: 2px solid var(--pricol-light);
	outline: none;
	font-size: 13pt;
	font-weight: bold;
	box-shadow: 0px 0px 10px #0005;
	margin: 10px auto 10px auto;
	cursor: pointer;
	transition: 0.2s;
}

#convert-btn:hover {
	background: var(--pricol-hover);
}

#tool-output {
	display: flex;
	flex-flow: column;
	background: var(--wincol);
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	padding: 8px;
	width: calc(50% - 5px);
	min-height: 70px;
}

#international-morse-code-rules {
	display: flex;
	flex-flow: column;
	width: 100%;
	max-width: 700px;
	margin: 5px auto 0px auto;
}

#international-morse-code-rules span {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

#international-morse-code-rules span p {
	color: var(--txtcol-muted);
	display: inline-block;
	white-space-collapse: preserve;
}

#international-morse-code-rules span b {
	color: var(--txtcol);
	display: inline-block;
	white-space-collapse: preserve;
}

#international-morse-code-rules span div {
	display: flex;
	gap: 2px;
	background: var(--wincol-lighter);
	border-radius: 3px;
	padding: 2px;
	box-sizing: border-box;
	margin: 2px 10px 2px 0px;
}

#international-morse-code-rules span div b {
	background: var(--wincol-darken);
	border-radius: 3px;
	text-align: center;
	width: 12pt;
	font-family: monospace;
	cursor: default;
}

#international-morse-code-key {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
	max-width: 700px;
	margin: 5px auto 0px auto;
}

#international-morse-code-key div {
	display: block;
}

#international-morse-code-key div span {
	display: inline-block;
	white-space-collapse: preserve;
}

#international-morse-code-key div span i {
	display: inline-block;
	font-weight: bold;
	color: var(--pricol-light);
}

#international-morse-code-key div span b {
	display: inline-block;
	color: var(--txtcol);
	font-family: monospace;
}

@media screen and (max-width: 600px) {
	#main-tool {
		flex-flow: column;
	}

	#tool-input {
		width: 100%;
	}

	#tool-output {
		margin-top: 10px;
		width: 100%;
	}
}