#ns-logo {
	display: block;
	width: 100%;
	max-width: 250px;
	margin: 10px auto 5px auto;
}

#stream-list {
	display: flex;
	align-items: stretch;
	align-content: flex-start;
	justify-content: center;
	width: calc(100% + 12px);
	flex-wrap: wrap;
	margin: 0px -5px;
}

.stream {
	display: flex !important;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
	width: calc(20% - 12px);
	background: var(--wincol);
	border: 2px solid var(--wincol-lighten);
	border-radius: var(--cors);
	box-sizing: border-box;
	padding: 5px 8px;
	cursor: pointer !important;
	margin: 6px !important;
	position: relative;
	transition: var(--trans-fast) !important;
}

.stream:hover {
	text-shadow: none !important;
	background: var(--wincol-lighter);
	transform: scale(1.05);
	box-shadow: 0px 0px 10px var(--wincol-lighten);
	text-decoration: none !important;
	z-index: 100;
}

.stream-thumbnail {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 5px;
	pointer-events: none;
}

.stream-thumbnail img {
	display: block;
	max-height: 128px;
	max-width: 100%;
}

.stream b {
	display: block !important;
	color: var(--txtcol) !important;
	font-size: 15pt !important;
	text-align: center;
	pointer-events: none;
	margin: 4px 0px;
}

.stream-description {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 4px 0px 8px 0px;
}

.stream-description i {
	color: var(--txtcol-subtle) !important;
	font-size: 12pt !important;
	text-align: center;
}

@media screen and (max-width: 1100px) {
	.stream {
		width: calc(25% - 12px);
	}
}

@media screen and (max-width: 800px) {
	.stream {
		width: calc(33.33% - 12px);
	}
}

@media screen and (max-width: 600px) {
	.stream {
		width: calc(50% - 12px);
	}
}

@media screen and (max-width: 450px) {
	.stream {
		width: 100%;
	}
}