#main-tool {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: stretch;
	margin: 10px 0px;
}

#tool-input {
	display: flex;
	flex-flow: column;
	background: var(--wincol);
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	padding: 10px;
	width: calc(50% - 5px);
}

#tool-input label {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 13pt;
	color: var(--txtcol);
	font-weight: bold;
	margin: 5px 0px 5px 10px;
}

#main-tool textarea {
	display: block;
	width: 100%;
	min-height: 200px;
	height: -webkit-fill-available;
	background: var(--bgcol-darken);
	border-radius: 3px;
	border: none;
	box-shadow: 0px 0px 10px #0005 inset;
	box-sizing: border-box;
	padding: 8px 10px;
	outline: none;
	color: var(--txtcol);
	resize: none;
	margin: 0px;
	font-size: 12pt;
	white-space: break-spaces;
}

#main-tool textarea::-webkit-scrollbar {
	background: var(--wincol-light);
	width: 10px;
	border-radius: 0px 0px 3px 0px
}

#main-tool textarea::-webkit-scrollbar-thumb {
	background: var(--wincol-lighter);
	border-radius: 5px;
	height: 50px;
	border: 3px solid var(--wincol-light);
}

#main-tool textarea::-webkit-scrollbar-thumb:hover {
	background: var(--pricol-light);
}

#tool-output {
	display: flex;
	flex-flow: column;
	background: var(--wincol);
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	padding: 10px;
	width: calc(50% - 5px);
	min-height: 70px;
}

.stat-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.stat {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	background: var(--bgcol-darken);
	box-shadow: 0px 0px 10px #0005 inset;
	border-radius: 3px;
	width: calc(50% - 5px);
	box-sizing: border-box;
	padding: 10px;
}

.stat p {
	color: var(--txtcol-muted) !important;
	font-family: sans-serif !important;
	font-size: 10pt !important;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	text-wrap-mode: nowrap;
}

.stat b {
	color: var(--txtcol) !important;
	font-family: sans-serif !important;
	font-size: 24pt !important;
	line-height: 1;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.stat i {
	color: var(--txtcol-subtle) !important;
	font-family: sans-serif !important;
	font-size: 12pt !important;
	font-weight: normal !important;
	line-height: 1;
}

#reading-score {
	display: flex;
	flex-flow: column;
	background: var(--wincol);
	box-sizing: border-box;
	position: relative;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
}

#reading-score b {
	display: block !important;
	width: 100%;
	text-align: center;
	font-size: 12pt;
	font-family: sans-serif;
	margin: 0px 0px 7px 0px;
}

#fleschreadingease {
	display: block;
	width: 100%;
	max-width: 800px;
	margin: 0px auto;
}

#fre-gauge {
	display: block;
}

#fre-table {
	border-radius: 3px;
	padding: 0px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-collapse: collapse;
	width: 100%;
	overflow: hidden;
	margin-top: 5px;
	box-shadow: 0px 0px 10px #0003;
}

#fre-table tr {
	margin: 0px;
	padding: 0px;
}

#fre-table tr:nth-child(even) {
	background-color: var(--wincol-lighten);
}

#fre-table tr:nth-child(odd) {
	background-color: var(--wincol-light);
}

#fre-table th {
	border: 1px solid var(--wincol);
	margin: 0px;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	cursor: default;
	background: var(--pricol);
	text-shadow: 0px 0px 10px var(--pricol-light);
	font-size: 13pt;
	font-family: sans-serif;
}

#fre-table td {
	border: 1px solid var(--wincol);
	margin: 0px;
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle;
	color: var(--txtcol);
	font-size: 12pt;
	font-family: sans-serif;
}

#fre-table td p {
	display: block;
	color: var(--txtcol) !important;
	padding: 0px 1vw;
	text-wrap-mode: nowrap;
	text-align: center;
}

.formula {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: 0px auto 10px auto;
	flex-wrap: wrap;
	background: var(--bgcol-darken);
	box-shadow: 0px 0px 10px #0005 inset;
	border-radius: 3px;
	padding: 5px 10px;
}

.f {
	display: block !important;
	text-wrap-mode: nowrap;
	color: var(--txtcol-muted) !important;
	white-space-collapse: preserve;
	font-family: sans-serif !important;
	font-size: 13pt !important;
	margin: 0px !important;
}

.f-op {
	display: block !important;
	text-wrap-mode: nowrap;
	color: var(--txtcol-subtle) !important;
	white-space-collapse: preserve;
	font-family: sans-serif !important;
	font-size: 13pt !important;
	margin: 0px !important;
}

.f-bold {
	display: block !important;
	text-wrap-mode: nowrap;
	width: auto !important;
	color: var(--pricol-light) !important;
	white-space-collapse: preserve;
	font-family: sans-serif !important;
	font-size: 13pt !important;
	margin: 0px !important;
}

#frequencies {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: stretch;
	margin: 10px 0px;
	gap: 10px;
}

.frequency {
	display: flex;
	flex-flow: column;
	background: var(--wincol);
	box-sizing: border-box;
	position: relative;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	padding: 10px;
	width: calc(50% - 5px);
	min-height: 220px;
}

.frequency b {
	display: block !important;
	width: 100% !important;
	text-align: center;
	font-size: 12pt !important;
	font-family: sans-serif;
	margin: 0px 0px 7px 0px;
}

.frequency input[type="text"] {
	display: block;
	width: 100%;
	background: var(--wincol-darken);
	border-radius: 3px 3px 0px 0px;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid var(--wincol-lighter);
	border-left: none;
	box-shadow: 0px 0px 10px #0005 inset;
	box-sizing: border-box;
	padding: 5px 7px;
	outline: none;
	color: var(--txtcol);
	margin: 0px;
	font-size: 12pt;
}

.frequency-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	padding: 4px 0px;
	background: var(--wincol-light);
}

.frequency-header b {
	margin: 0px;
	font-size: 11pt !important;
	color: var(--txtcol) !important;
}

.frequency-container {
	display: flex;
	flex-flow: column;
	gap: 3px;
	width: 100%;
	height: -webkit-fill-available;
	min-height: 200px;
	max-height: 50vh;
	position: relative;
	background: var(--bgcol-darken);
	border-radius: 0px;
	box-shadow: 0px 0px 10px #0005 inset;
	box-sizing: border-box;
	padding: 5px;
	margin: 0px;
	overflow-y: auto;
}

.frequency-container::-webkit-scrollbar {
	background: var(--wincol-light);
	width: 10px;
	border-radius: 0px;
}

.frequency-container::-webkit-scrollbar-thumb {
	background: var(--wincol-lighten);
	border-radius: 5px;
	height: 50px;
	border: 3px solid var(--wincol-light);
}

.frequency-container::-webkit-scrollbar-thumb:hover {
	background: var(--pricol-light);
}

.fr {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--wincol);
	border-radius: 2px;
	padding: 3px 5px;
}

.fr i {
	color: var(--txtcol-subtle) !important;
	font-size: 11pt !important;
	font-family: sans-serif !important;
}

.fr b {
	color: var(--txtcol) !important;
	font-size: 12pt !important;
	font-family: sans-serif !important;
	margin: 0px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fr p {
	color: var(--txtcol-subtle) !important;
	font-size: 11pt !important;
	font-family: sans-serif !important;
	width: 80pt !important;
	text-align: right;
}

.frequency-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 0px;
	box-sizing: border-box;
	border-radius: 0px 0px 3px 3px;
	padding: 0px;
	background: var(--wincol-light);
}

.frequency-footer button {
	display: block;
	background: var(--wincol-lighten);
	border-radius: 2px;
	border: none;
	outline: none;
	color: var(--txtcol);
	font-size: 11pt;
	padding: 3px 7px;
	margin: 3px;
	cursor: pointer;
	transition: 0.2s;
}

.frequency-footer button:hover {
	background: var(--pricol-light);
}

.frequency-footer i {
	color: var(--txtcol-subtle) !important;
	margin: 0px 8px 0px 0px;
}

@media screen and (max-width: 800px) {
	.stat b {
		font-size: 20pt !important;
	}
}

@media screen and (max-width: 700px) {
	#main-tool {
		flex-flow: column;
	}

	#tool-input {
		width: 100%;
	}

	#tool-output {
		margin-top: 10px;
		width: 100%;
	}

	#frequencies {
		flex-flow: column;
	}

	.frequency {
		width: 100%;
	}
}