#controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	z-index: 1;
	height: auto;
	width: 100%;
	margin: 10px 0px 0px 0px;
}

#searchbar {
	max-width: 300px;
	width: 100%;
	text-align: left;
	padding: 5px 10px 5px 10px;
	height: 30px;
	margin: 0px;
	outline: none;
	border: 2px solid var(--wincol-light);
	background: var(--wincol-darken);
	box-sizing: border-box;
	border-radius: var(--cors);
	color: var(--txtcol);
	transition: var(--trans);
}

#searchbar:focus {
	background: var(--bgcol-darken);
}

#sort-dd {
	display: block;
	position: relative;
	width: 100%;
	max-width: 300px;
	border-radius: var(--cors);
	box-sizing: border-box;
	height: 30px;
}

#sort-dd span {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	cursor: pointer;
	font-weight: bold;
	color: var(--txtcol);
	height: 30px;
	width: 100%;
	text-align: center;
	background: var(--wincol);
	border-radius: var(--cors);
	box-sizing: border-box;
	font-size: 12pt;
	z-index: 99;
	transition: var(--trans);
}

#sort-dd span:hover {
	background: var(--wincol-light);
}

#sort-ddm {
	display: flex;
	flex-flow: column;
	position: absolute;
	width: 100%;
	padding-top: 30px;
	background: var(--wincol);
	border-radius: var(--cors);
	box-sizing: border-box;
	box-shadow: 0px 0px 15px #0005;
	overflow: hidden;
}

#sort-ddm button {
	display: block;
	background: #0000;
	padding: 7px;
	border: none;
	outline: none;
	cursor: pointer;
	color: var(--txtcol);
	font-size: 12pt;
	transition: 0.2s;
}

#sort-ddm button:hover {
	background: var(--wincol-light);
}

#video-list {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	overflow: hidden;
	padding: 10px 10px 0px 10px;
	margin: 0px -15px 0px -15px;
}

#video-list-end {
	position: absolute;
	display: block;
	bottom: 0px;
	width: 100%;
	height: 15vh;
	background: linear-gradient(#0000 0%, var(--bgcol) 100%);
	z-index: 999;
	pointer-events: none;
}

.video-block {
	display: flex !important;
	justify-content: center;
	align-items: center;
	position: relative;
	width: calc((100% / 4) - 16px);
	background: var(--bgcol-dark);
	aspect-ratio: 16 / 9;
	border-radius: var(--corm);
	box-shadow: 0px 0px 10px #000A;
	outline: 2px solid var(--wincol);
	overflow: hidden;
	margin: 8px !important;
	padding: 0px;
	box-sizing: border-box;
	cursor: pointer !important;
	transition: var(--trans) !important;
}

.video-block:hover {
	transform: scaleX(1.05) scaleY(1.05);
	outline: 2px solid var(--pricol-light);
	z-index: 99;
}

.video-type {
	display: block;
	position: absolute;
	height: 25px;
	width: 25px;
	right: 10px;
	top: 10px;
}

.video-new {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 11pt !important;
	font-size-adjust: 0.5;
	line-height: 1;
	background: #F20;
	color: #FFF !important;
	padding: 3px 6px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #F11;
}

.video-thumb {
	display: block;
	margin: 0px;
	pointer-events: none;
	max-width: 100%;
	max-height: 100%;
}

.video-title {
	position: absolute;
	bottom: 0px;
	max-width: 100%;
	min-width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 15px 5px 5px 5px;
	color: #F5F5F5 !important;
	background: linear-gradient(#0000, #000A);
}

.video-title p {
	color: #F5F5F5 !important;
	font-size: 10pt !important;
	cursor: pointer;
	text-shadow: 0px 0px 10px #000A;
}

#no-results {
	color: var(--txtcol-subtle) !important;
	padding: 0px 0px 5px 0px;
	margin: 15px 0px 0px 20px;
	font-style: italic;
}

@media screen and (max-width: 1400px) {
	.video-block {
		width: calc((100% / 3) - 16px);
	}
}

@media screen and (max-width: 900px) {
	.video-block {
		width: calc((100% / 2) - 16px);
	}
}

@media screen and (max-width: 700px) {
	#controls {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	#sort-dd {
		margin-top: 10px;
	}
}

@media screen and (max-width: 500px) {
	.video-block {
		width: calc(100% - 16px);
	}
}