#main-tool {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	margin: 10px 0px;
}

#tool-input {
	display: flex;
	flex-flow: column;
	background: var(--wincol);
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	padding: 10px;
	width: calc(50% - 5px);
}

#language-selector {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	gap: 5px;
	margin-bottom: 10px;
}

.language {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex: 1 1;
	flex-basis: calc(25% - 5px);
	background: var(--wincol-light);
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
	border: 2px solid var(--wincol-lighter);
	padding: 5px;
	transition: 0.2s;
}

.language:hover {
	background: var(--wincol-lioghten);
}

.language b {
	font-size: 12pt !important;
	color: var(--txtcol) !important;
	pointer-events: none;
}

.language p {
	font-size: 11pt !important;
	color: var(--txtcol-muted) !important;
	pointer-events: none;
}

.language i {
	font-size: 8pt !important;
	color: var(--txtcol-subtle) !important;
	pointer-events: none;
}

#tool-input label {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 14pt;
	color: var(--txtcol);
	font-weight: bold;
}

#tool-input input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	background: var(--bgcol-darken);
	box-shadow: 0px 0px 10px #0005 inset;
	border: none;
	outline: none;
	font-size: 12pt;
	padding: 5px 8px;
	color: var(--txtcol);
	margin-bottom: 10px;
}

#unscramble-btn {
	display: block;
	width: 100%;
	max-width: 200px;
	box-sizing: border-box;
	padding: 7px 12px;
	color: var(--txtcol);
	border-radius: 3px;
	background: var(--pricol);
	border: 2px solid var(--pricol-lighter);
	outline: none;
	font-size: 13pt;
	font-weight: bold;
	box-shadow: 0px 0px 10px #0005;
	margin: 0px auto;
	cursor: pointer;
	transition: 0.2s;
}

#unscramble-btn:hover {
	background: var(--pricol-hover);
}

#tool-stats {
	display: block;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 6px 10px 1px 10px;
	color: var(--txtcol-subtle) !important;
}

#tool-output {
	display: flex;
	flex-flow: column;
	gap: 5px;
	background: var(--wincol);
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #0005;
	border-radius: 5px;
	padding: 10px;
	width: calc(50% - 5px);
	min-height: 50px;
}

#tool-output b {
	display: block !important;
	width: 100%;
	color: var(--txtcol);
	box-sizing: border-box;
	padding: 2px 5px;
	background: var(--wincol-light);
	border-radius: 3px;
	font-size: 14pt;
	text-align: center;
}

@media screen and (max-width: 600px) {
	#main-tool {
		flex-flow: column;
	}

	#tool-input {
		width: 100%;
	}

	#tool-output {
		margin-top: 10px;
		width: 100%;
	}
}