@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

#language-selector {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
	position: relative;
	width: calc(100% + 40px);
	margin: -20px -20px -5px -20px;
	box-sizing: border-box;
	padding: var(--winspace) var(--winspace) var(--winspace) var(--winspace);
}

.language {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	padding: 5px 8px;
	border-radius: var(--cors);
	border: 2px solid var(--wincol-lighter);
	background: var(--wincol-light);
	cursor: pointer;
	transition: var(--trans);
}

.language:hover {
	background: var(--wincol-lighten);
}

.language b {
	font-family: 'Barlow', sans-serif !important;
	font-size: 13pt !important;
	font-weight: 500 !important;
	letter-spacing: 0.5pt;
	line-height: 1;
	color: var(--txtcol) !important;
	pointer-events: none;
}

.language p {
	font-family: 'Barlow', sans-serif !important;
	font-size: 12pt !important;
	font-weight: 500 !important;
	letter-spacing: 0.5pt;
	line-height: 1;
	color: var(--txtcol-muted) !important;
	pointer-events: none;
}

.language i {
	font-family: 'Barlow', sans-serif !important;
	font-size: 9pt !important;
	font-weight: 400 !important;
	letter-spacing: 0.5pt;
	line-height: 1;
	color: var(--txtcol-subtle) !important;
	pointer-events: none;
}

#language-loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	border-radius: var(--cors);
	background: color-mix(in srgb, var(--wincol), transparent 40%);
	backdrop-filter: blur(3px);
	user-select: none;
	cursor: wait;
}

#language-loader i {
	display: block !important;
	font-family: 'Barlow', sans-serif !important;
	font-size: 13pt !important;
	font-weight: 500 !important;
	letter-spacing: 0.5pt;
	line-height: 1;
	padding: 6px 12px;
	border-radius: var(--cors);
	color: var(--txtcol);
	background: #0009;
	box-shadow: var(--winshadow);
}

#tool-output {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
}

#tool-output b {
	display: block !important;
	text-align: center;
	font-family: 'Barlow', sans-serif !important;
	font-size: 14pt !important;
	font-weight: 500;
	line-height: 1;
	box-sizing: border-box;
	padding: 6px 12px;
	border-radius: var(--cors);
	color: var(--txtcol);
	background: var(--wincol-light);
}

#tool-output .output-green {
	background: #13a153;
}

@media screen and (max-width: 500px) {
	#language-selector {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}