#primary-block {
	display: flex;
	width: 100%;
	margin: 10px 0px 0px -20px;
	gap: 10px;
}

#disclaimer {
	display: block !important;
	color: #FFF5 !important;
	font-size: 10pt !important;
	text-align: right;
}

#navigator-container {
	display: block;
	width: 200px;
	max-width: 200px;
	min-width: 200px;
	position: relative;
}

#navigator {
	display: flex;
	position: relative;
	flex-flow: column;
	width: 200px;
	position: absolute;
	box-sizing: border-box;
	max-height: calc(100vh - 70px);
	border-radius: 0px 3px 3px 0px;
	overflow-y: auto;
	overflow-x: hidden;
	top: 0px;
	background: var(--close-back);
	box-shadow: 0px 0px 10px #0005;
	z-index: 10000;
	transition: 0.4s;
}

#navigator::-webkit-scrollbar {
	background: var(--close-back);
	width: 10px;
	border-radius: 0px 3px 3px 0px
}

#navigator::-webkit-scrollbar-thumb {
	background: var(--closer-back);
	border-radius: 5px;
	height: 20px;
	border: 3px solid var(--close-back);
}

#navigator::-webkit-scrollbar-thumb:hover {
	background: var(--hover-back2);
}

.nav-cat {
	display: block !important;
	width: 100% !important;
	box-sizing: border-box;
	padding: 4px 7px 4px 10px;
	color: var(--base-text) !important;
	border: none;
	outline: none;
	background: #0000;
	font-weight: bold !important;
	text-align: left;
	cursor: default;
	font-size: 11pt !important;
	transition: 0.2s;
}

.nav-sec {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 4px 7px 4px 17px;
	color: var(--brighter-italic-text);
	border: none;
	outline: none;
	background: #0000;
	text-align: left;
	font-size: 11pt;
	cursor: pointer;
	transition: 0.2s;
}

.nav-sec:hover {
	background: var(--hover-back1);
}

#navigator *:first-child {
	padding-top: 8px;
}

#navigator *:last-child {
	padding-bottom: 8px;
}

#bible-data-container {
	display: block;
	width: 100%;
}

.col-spr {
	width: 2px;
	min-width: 2px;
	max-width: 2px;
	background: #FFFFFF10;
	box-shadow: 0px 0px 10px #00000030;
}

.data-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 5px 0px;
}

.split-data-container {
	display: flex;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	gap: 10px;
	margin: 10px 0px;
}

.split-data-container-hold {
	display: flex;
	flex-flow: column;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

.title2 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	font-size: 12pt !important;
	font-style: italic;
}

.note {
	display: block;
	width: 100%;
}

.note i {
	color: var(--italic-text) !important;
}

.data-block {
	display: flex;
	position: relative;
	align-items: center;
	flex-flow: column;
	justify-content: center;
	width: calc(12.5% - 10px);
	background: var(--close-back);
	border-radius: 5px;
	box-shadow: 0px 0px 10px #0005;
	padding: 0px 5px;
	margin: 5px;
	box-sizing: border-box;
}

.pop-block {
	background: var(--theme1) !important;
}

.max-width-block {
	width: 100% !important;
}

.half-width-block {
	width: calc(50% - 10px) !important;
}

.split-data-container-hold .data-block {
	width: calc(25% - 10px);
}

.data-block-image {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	min-width: 100px;
	padding: 10px;
	box-sizing: border-box;
}

.data-block-image img {
	display: block;
	max-width: 80px;
	max-height: 80px;
}

.data-block-text, .data-block {
	display: flex;
	position: relative;
	flex-flow: column;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
}

.data-block-text {
	width: 100%;
}

.data-block p {
	font-size: 13pt !important;
	color: var(--brighter-italic-text) !important;
}

.data-block i {
	font-size: 11pt !important;
	color: #FFF8 !important;
}

.data-block b {
	font-size: 15pt !important;
	color: var(--base-text) !important;
}

.data-block .boldened {
	font-size: 11pt !important;
	color: var(--base-text) !important;
	white-space-collapse: preserve;
}

.bar-map-container {
	display: flex;
	flex-flow: column;
	position: relative;
	width: 100%;
	gap: 10px;
}

.bar-map-container h1 {
	margin: 0px !important;
	font-size: 12pt !important;
	font-style: italic;
}

.bar-map {
	display: flex;
	flex-flow: column;
	position: relative;
	width: 100%;
	gap: 4px;
}

.bar-map-tooltip {
	display: flex;
	flex-flow: column;
	align-items: center;
	gap: 2px;
	justify-content: center;
	position: absolute;
	background: var(--close-back);
	border-radius: 3px;
	box-shadow: 0px 0px 10px #0005;
	padding: 5px 10px;
	width: 170px;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	z-index: 100000000;
}

.bar-map-tooltip i {
	font-size: 9pt !important;
	color: var(--italic-text) !important;
}

.bar-map-row {
	display: flex;
	align-items: stretch;
	width: 100%;
	gap: 0px;
}

.bar-map-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3vw;
	min-height: 20px;
	width: var(--w);
	background: var(--b);
	min-width: 1px;
	border: 2px solid var(--semi-far-back);
	cursor: default;
	overflow: hidden;
	text-overflow: clip;
}

.bar-map-section:hover {
/*	outline: 3px solid color-mix(in srgb, var(--b) 30%, transparent);*/
	border: 2px solid color-mix(in srgb, var(--b) 30%, var(--semi-far-back));
}

.bar-map-section b {
	pointer-events: none;
}

#editors-notes i {
	color: var(--italic-text) !important;
}

@media screen and (max-width: 1400px) {
	.data-block {
		width: calc(16.66% - 10px);
	}

	.split-data-container-hold .data-block {
		width: calc(33.33% - 10px);
	}
}

@media screen and (max-width: 1150px) {
	.data-block {
		width: calc(25% - 10px);
	}

	.split-data-container-hold .data-block {
		width: calc(50% - 10px);
	}
}

@media screen and (max-width: 900px) {
	#primary-block {
		flex-flow: column;
		width: calc(100% + 20px);
	}

	#navigator-container {
		width: calc(100% + 40px);
		min-width: calc(100% + 40px);
		max-width: calc(100% + 40px);
		height: 20vh;
		min-height: 100px;
	}

	#navigator {
		border-radius: 0px;
		width: 100%;
		height: 20vh;
		min-height: 100px;
		box-shadow: 0px 0px 20px #0008;
	}

	#bible-data-container {
		margin-left: 20px;
		width: calc(100% - 20px);
	}

	.data-block {
		width: calc(25% - 10px);
	}

	.split-data-container-hold .data-block {
		width: calc(50% - 10px);
	}
}

@media screen and (max-width: 700px) {
	.bar-map-section b {
		font-size: 10pt !important;
	}
}

@media screen and (max-width: 600px) {
	.data-block {
		width: calc(50% - 10px);
	}

	.split-data-container-hold .data-block {
		width: 100%;
	}

	.bar-map-section b {
		display: none !important;
	}
}

@media screen and (max-width: 400px) {
	.split-data-container {
		flex-flow: column;
	}

	.col-spr {
		display: none;
	}

	.data-block {
		width: 100%;
	}

	.half-width-block {
		width: 100% !important;
	}
}