#primary-links {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0px 10px 0px;
	flex-wrap: wrap;
}

#primary-links a {
	display: block;
	text-decoration: none;
	color: #F5F5F5;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 15pt;
	font-weight: bold;
	border: 3px solid #FFF5;
	margin: 5px 0px;
	cursor: pointer;
}

#btjs-download {
	background: #2266DD;
	width: 190pt;
	text-align: center;
}

#btjs-download:hover {
	background: #3377EE;
	box-shadow: 0px 0px 10px #ADF1;
	text-shadow: 0px 0px 10px #ADF1;
}

#btjs-docs {
	background: #E82;
	width: 190pt;
	text-align: center;
}

#btjs-docs:hover {
	background: #F93;
	box-shadow: 0px 0px 10px #FDA1;
	text-shadow: 0px 0px 10px #FDA1;
}

#secondary-links {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: 10px 0px 20px 0px;
	flex-wrap: wrap;
}

#download-old {
	display: block;
	text-decoration: none;
	color: #F5F5F5 !important;
	border-radius: 4px;
	padding: 3px 10px;
	font-size: 12pt;
	font-weight: bold;
	border: 2px solid #FFF5;
	margin: 5px 0px;
	background: #444;
}

#download-old:hover {
	background: #555;
	box-shadow: 0px 0px 10px #FFF1;
	text-shadow: 0px 0px 10px #FFF1;
}

#change-table {
	background: #333;
	border-radius: 3px;
	padding: 0px;
	border: 1px solid #333;
	box-sizing: border-box;
	border-collapse: collapse;
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
}

#change-table tr {
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	transition: 0.2s;
}

#change-table tr:nth-child(even) {
	background-color: #202020;
}

#change-table tr:nth-child(odd) {
	background-color: #181818;
}

#change-table tr:hover {
	background: #0003;
}

#change-table th {
	border: 1px solid #333;
	margin: 0px;
	padding: 5px 8px;
	text-align: center;
	vertical-align: middle;
	cursor: default;
	background: #EA7A05;
	text-shadow: 0px 0px 10px #740A;
	font-size: 13pt;
}

#change-table td {
	border: 1px solid #333;
	margin: 0px;
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle;
	color: #CCC;
	font-size: 12pt;
}

#change-table td p {
	color: #F5F5F5 !important;
	padding: 0px 1vw;
	text-align: center;
	transition: 0.2s;
	font-size: 12pt;
	display: block;
}

#change-table tr:hover p {
	text-shadow: 0px 0px 10px #FFF5;
	text-decoration: underline;
}

#change-table td b {
	color: #F5F5F5 !important;
	padding: 0px 1vw;
	text-align: center;
	transition: 0.2s;
	font-size: 12pt;
}