#content-main {
	box-shadow: none;
	background: var(--semi-far-back);
	margin: 0px 0px 0px 0px;
	border-radius: 0px;
	min-height: calc(100vh - 50px);
	padding: 0px 20px 20px 20px;
}

.title {
	margin-top: 12px !important;
	margin-bottom: 0px !important;
	font-size: 14pt !important;
}

.title a {
	font-size: 14pt !important;
}

.description {
	font-size: 12pt !important;
	color: var(--italic-text) !important;
	text-align: center;
	width: 100% !important;
	margin: 0px;
	display: block !important;
}

.recommendation-credit {
	display: block !important;
	font-size: 12pt !important;
	color: var(--italic-text) !important;
	box-sizing: border-box;
	background: var(--close-back);
	border-radius: 3px;
	box-shadow: 0px 0px 10px #0005;
	text-align: center;
	padding: 5px 10px;
	margin: 20px 0px 0px 0px;
	width: 100%;
}

#content-main p {
	font-family: sans-serif;
}

#content-main i {
	font-family: sans-serif;
}

#extra-pages-container {
	display: block;
	margin: 30px 0px 10px 0px;
	width: 100%;
}

#extra-pages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	padding: 10px 10px 0px 10px;
	margin: 0px -10px 0px -10px;
}

#extra-pages a {
	display: flex !important;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	width: calc((100% / 6) - 10px);
	margin: 5px !important;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 10px #0005;
	background: var(--base-back);
	border: 2px solid var(--closer-back);
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer !important;
	text-align: center;
	transition: 0.2s !important;
}

#extra-pages a:hover {
	transform: scaleX(1.05) scaleY(1.05);
	box-shadow: 0px 0px 10px #000A;
	text-shadow: none;
}

#extra-pages a img {
	max-height: 80px;
	max-width: 100%;
}

#extra-pages a b {
	padding: 5px;
}

#extra-pages a i {
	color: var(--italic-text);
	font-size: 10pt;
}

.extra-pages-video img {
	position: absolute;
	min-height: 100%;
	max-height: none !important;
	width: 100%;
	border-radius: 3px;
	opacity: 1;
	z-index: 0;
	transition: 0.2s;
}

.extra-pages-video b {
	opacity: 0;
	text-shadow: 0px 0px 7px #000;
	z-index: 10;
	transition: 0.2s;
}

.extra-pages-video i {
	opacity: 0;
	z-index: 10;
	transition: 0.2s;
}

.extra-pages-video:hover {
	background: #000 !important;
}

.extra-pages-video:hover img {
	opacity: 0.4;
	filter: blur(6px);
}

.extra-pages-video:hover b {
	opacity: 1;
}

.extra-pages-video:hover i {
	opacity: 1;
}

#donate-promo {
	display: flex;
	flex-flow: column;
	align-items: center;
	position: relative;
	background: #903E00;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px #0005, 0px 0px 10px #FE35 inset;
	border-radius: 5px;
	padding: 20px 10px;
	width: 100%;
	max-width: 600px;
	margin: 10px auto 5px auto;
	text-align: center;
	border: 2px solid #FE3;
	overflow: hidden;
}

#donate-promo p {
	font-size: 13pt;
	margin-bottom: 5px;
	color: #FFFD;
	text-shadow: 0px 0px 15px #800F;
	pointer-events: none;
	user-select: none;
	z-index: 1;
}

#donate-promo b {
	font-size: 14pt;
	margin-bottom: 5px;
	color: #FFF;
	text-shadow: 0px 0px 15px #800F;
	pointer-events: none;
	user-select: none;
	z-index: 1;
}

#donate-promo button {
	display: block;
	margin-top: 10px;
	width: calc(100% - 20px);
	max-width: 250px;
	color: #FFF;
	text-shadow: 0px 0px 20px #720A;
	font-size: 14pt;
	font-weight: bold;
	background: #FF9500;
	border-radius: 50px;
	padding: 10px 0px;
	cursor: pointer;
	outline: none;
	border: 2px solid #FFA;
	box-shadow: 0px 0px 15px #FD6A, 0px 0px 10px #FD8A inset;
	user-select: none;
	z-index: 1;
	transition: 0.4s cubic-bezier(0.85,-1.17, 0.25, 1);
}

#donate-promo button:hover {
	background: #FEAB1C;
	transform: scale(1.1);
}

#donate-promo span {
	display: block;
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url('./files/images/compare-donate.svg');
	background-position: 50% 50%;
	background-size: cover;
	filter: blur(0.3vw);
	opacity: 0.2;
}

@media screen and (max-width: 1900px) {
	#extra-pages a {
		width: calc((100% / 5) - 10px);
	}
}

@media screen and (max-width: 1200px) {
	#extra-pages a {
		width: calc((100% / 4) - 10px);
	}
}

@media screen and (max-width: 850px) {
	#extra-pages a {
		width: calc((100% / 3) - 10px);
	}
}

@media screen and (max-width: 650px) {
	#extra-pages a {
		width: calc((100% / 2) - 10px);
	}
}

@media screen and (max-width: 400px) {
	#extra-pages a {
		width: calc(100% - 10px);
	}
}