#primary-block {
	display: flex;
	align-items: stretch;
	align-content: flex-start;
	width: calc(100% + 10px);
	flex-wrap: wrap;
	margin: 0px -5px;
}

.language-block {
	display: flex !important;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: calc(16.667% - 10px) !important;
	background: var(--base-back);
	border: 2px solid var(--closer-back);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px 8px;
	min-height: 90px;
	cursor: pointer !important;
	margin: 5px !important;
	transition: 0.2s !important;
}

.language-block:hover {
	text-shadow: none !important;
	background: var(--hover-back1);
	border: 2px solid var(--hover-back2);
	transform: scale(1.05);
}

.language-block b {
	display: block !important;
	color: var(--base-text) !important;
	font-size: 13pt !important;
	text-align: center;
	pointer-events: none;
}

.language-block p {
	display: block !important;
	width: 100%;
	text-align: center;
	padding: 4px 6px;
	box-sizing: border-box;
	font-size: 12pt !important;
	color: var(--brighter-italic-text) !important;
	pointer-events: none;
}

.disabled-language-block {
	width: calc(25% - 20px);
	margin: 10px !important;
	border-radius: 10px;
	background: #252525;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	padding: 20px;
	box-sizing: border-box;
	display: flex !important;
	float: left;
	cursor: wait !important;
	height: auto;
	transition: 0.2s;
	border: 2px solid #555555;
	align-items: center;
}

.disabled-language-block:hover {
	text-shadow: none !important;
	border: 2px solid #555555;
}

.disabled-language-block h4 {
	color: #DDDDDD !important;
	cursor: wait !important;
	font-size: 15pt !important;
}

.disabled-language-block p {
	display: block !important;
	color: #444 !important;
	cursor: wait !important;
	font-size: 12pt !important;
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 1600px) {
	.language-block {
		width: calc(20% - 10px) !important;
	}
}

@media screen and (max-width: 1300px) {
	.language-block {
		width: calc(25% - 10px) !important;
	}
}

@media screen and (max-width: 1100px) {
	.language-block {
		width: calc(33.33% - 10px) !important;
	}
}

@media screen and (max-width: 800px) {
	.language-block {
		width: calc(50% - 10px) !important;
	}
}

@media screen and (max-width: 600px) {
	.language-block {
		width: 100% !important;
	}
}