#pdt-container, #dpdt-container {
	width: 100%;
	box-sizing: border-box;
	padding: 0px;
	margin-top: 15px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 10px #0005;
	display: flex;
	flex-wrap: wrap;
}

.pdt-planet-block {
	width: 12.5%;
	box-sizing: border-box;
	padding: 15px 10px;
	display: flex;
	flex-flow: column;
	align-items: center;
	box-shadow: 0px 0px 20px #0005 inset;
	text-shadow: 0px 0px 10px #0005;
}

.pdt-planet-block h1, .dpdt-planet-block h1, .sdt-star-block div h1 {
	text-shadow: 0px 0px 15px #0005;
	color: #F5F5F5 !important;
	font-size: 22pt !important;
	margin: 0px !important;
}

.pdt-planet-block h2, .dpdt-planet-block h2, .sdt-star-block div h2 {
	text-shadow: 0px 0px 10px #0005;
	color: #F5F5F588 !important;
	font-size: 15pt !important;
	margin: 0px !important;
}

.pdt-planet-block b, .dpdt-planet-block b, .sdt-star-block div b {
	text-shadow: 0px 0px 10px #0005;
	color: #F5F5F5DD !important;
	font-size: 14pt !important;
	margin: 2px 0px 15px 0px !important;
}

.pdt-planet-block p, .dpdt-planet-block p, .sdt-star-block div p {
	text-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

.pdt-planet-block img, .dpdt-planet-block img {
	width: 100px;
	filter: drop-shadow(0px 0px 10px #0005);
}

.pdt-planet-block div, .dpdt-planet-block div, .sdt-star-block div div {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 15px 0px 0px 0px;
}

.pdt-planet-block div b, .dpdt-planet-block div b, .sdt-star-block div div b {
	color: #F5F5F5EE !important;
	font-size: 12pt !important;
	margin: 0px 0px 2px 0px !important;
}

.pdt-planet-block div p, .dpdt-planet-block div p, .sdt-star-block div div p {
	color: #F5F5F5CC !important;
	font-size: 12pt !important;
	margin: 0px !important;
}

.pdt-planet-block div i, .dpdt-planet-block div i, .sdt-star-block div div i {
	color: #F5F5F566 !important;
	font-size: 11pt !important;
	margin: 0px !important;
}

.dpdt-planet-block {
	width: 20%;
	box-sizing: border-box;
	padding: 15px 10px;
	display: flex;
	flex-flow: column;
	align-items: center;
	box-shadow: 0px 0px 20px #0005 inset;
	text-shadow: 0px 0px 10px #0005;
}

#sdt-container {
	width: 100%;
	box-sizing: border-box;
	padding: 0px;
	margin-top: 15px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 0px 10px #0005;
	display: flex;
	flex-wrap: wrap;
}

.sdt-star-block {
	width: 100%;
	box-sizing: border-box;
	padding: 15px 10px 15px 15px;
	display: flex;
	flex-flow: row;
	align-items: center;
	box-shadow: 0px 0px 20px #0005 inset;
}

.sdt-star-block div {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-shadow: 0px 0px 10px #0005;
}

.sdt-star-block div img {
	width: 200px;
	filter: drop-shadow(0px 0px 10px #0005);
}

#sun-main, #sun-info {
	max-width: 200px;
}

#sun-title {
	text-shadow: 0px 0px 10px #0005;
	color: #F5F5F5DD !important;
	font-size: 14pt !important;
	margin: 2px 0px 0px 0px !important;
}

@media screen and (max-width: 1800px) {
	.pdt-planet-block {
		width: 25%;
	}
}

@media screen and (max-width: 900px) {
	.pdt-planet-block {
		width: 50%;
	}

	.dpdt-planet-block {
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	#sun-main, #sun-info {
		max-width: 100%;
	}

	#sun-title {
		margin: 2px 0px 15px 0px !important;
	}

	.sdt-star-block {
		flex-flow: column;
	}
}

@media screen and (max-width: 450px) {
	.pdt-planet-block {
		width: 100%;
	}
}