.stat-title {
	display: block !important;
	margin: 0px !important;
	color: var(--brighter-italic-text) !important;
	font-size: 13pt !important;
	text-align: center;
	width: 100%;
}

.stat {
	display: block !important;
	margin: 2px 0px !important;
	color: var(--base-text) !important;
	font-size: 20pt !important;
	text-align: center;
	width: 100%;
}

#stats {
	border: none;
	outline: none;
	width: 100%;
	aspect-ratio: 1 / 2;
}