.copy-vlink {
	background: var(--close-back);
	cursor: pointer;
	transition: 0.3s;
	position: absolute;
	right: -10px;
	top: -10px;
	width: 28px;
	height: 28px;
	padding: 2px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #0005;
}

.copy-vlink:hover {
	background: var(--closer-back);
	box-shadow: 0px 0px 15px #0009;
}

.copy-vlink:active {
	transition: 0s;
	background: var(--close-back);
}

.vb {
	width: 100%;
	position: relative;
	min-height: 100px;
	margin: 15px 0px 10px 0px;
	border-radius: 5px;
	background: var(--base-back);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	padding: 20px;
	box-sizing: border-box;
	display: block;
}

.vb a {
	display: block !important;
	background: var(--closer-back);
	box-sizing: border-box;
	border-radius: 5px;
	width: 100%;
	max-width: 350px;
	color: var(--base-text) !important;
	padding: 10px;
	font-size: 12pt;
	margin: 20px auto !important;
	text-shadow: none !important;
	cursor: pointer;
	box-shadow: 0px 0px 10px #0003;
}

.vb a:hover {
	box-shadow: 0px 0px 20px #000A;
	transform: scaleX(1.05) scaleY(1.05);
}

#hmywoep-container {
	width: 100%;
	box-sizing: border-box;
	padding: 0px;
	margin-top: 15px;
	display: flex;
}

#hmywoep-container input[type=number] {
	display: block;
	outline: none;
	background: var(--base-back);
	box-shadow: 0px 0px 10px #0005;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	width: 100%;
	max-width: 300px;
	resize: none;
	color: var(--base-text);
	padding: 10px;
	font-size: 12pt;
	margin: 0px;
}

#hmywoep-container b {
	display: block;
	color: var(--base-text);
	font-size: 13pt;
	margin: 10px 0px;
}

#hmywoep-input {
	width: calc(50% - 10px);
	box-sizing: border-box;
	padding: 20px;
	margin: 0px 20px 0px 0px;
	border-radius: 5px;
	background: var(--semi-far-back);
	box-shadow: 0px 0px 20px #0005 inset;
	text-shadow: 0px 0px 10px #0005;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

#hmywoep-result {
	width: calc(50% - 10px);
	box-sizing: border-box;
	padding: 10px 15px;
	margin: 0px;
	text-align: left;
	border-radius: 5px;
	background: var(--semi-far-back);
	box-shadow: 0px 0px 20px #0005 inset;
	text-shadow: 0px 0px 10px #0005;
	overflow: hidden;
}

#hmywoep-result h1 {
	font-size: 14pt !important;
	margin-bottom: 10px !important;
	text-align: left !important;
}

#hmywoep-result p {
	display: block;
	margin: 1px 0px;
}

@media screen and (max-width: 700px) {
	#hmywoep-container {
		flex-flow: column;
	}

	#hmywoep-input {
		width: 100%;
		margin: 0px 0px 20px 0px;
	}

	#hmywoep-result {
		width: 100%;
	}
}