.factsheet-section-title {
	width: 100%;
	text-align: left !important;
	font-size: 14pt !important;
	color: var(--base-text) !important;
}

.factsheet-list {
	display: flex;
	flex-flow: column;
	width: 100%;
	align-items: center;
	gap: 10px;
	margin: 8px 0px 12px 0px;
}

.factsheet-list-item {
	display: flex !important;
	flex-flow: column;
	align-items: flex-start;
	width: 95%;
	box-sizing: border-box;
	padding: 7px 10px;
	border-radius: 3px;
	background: var(--close-back);
	cursor: pointer !important;
	transition: 0.2s !important;
}

.factsheet-list-item:hover {
	background: var(--closer-back);
	text-shadow: none !important;
}

.factsheet-list-item b {
	display: block;
	width: 100%;
	color: var(--base-text) !important;
	font-size: 12pt !important;
}

.factsheet-list-item i {
	display: block;
	width: 100%;
	color: var(--italic-text) !important;
	font-size: 11pt !important;
}