#popular-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
	margin: 10px auto 50px auto;
	max-width: 1500px;
}

#popular-content a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 5px;
	max-height: 150px;
	cursor: pointer;
	overflow: hidden;
}

#popular-content a img {
	max-height: 150px;
}

#view-media {
	display: block !important;
	width: 100%;
	max-width: 400px;
	margin: 40px auto 8px auto !important;
	background: var(--theme2);
	font-size: 20pt !important;
	box-sizing: border-box;
	padding: 10px 20px;
	text-align: center;
	color: #FFF !important;
	border-radius: 5px;
	border: 2px solid var(--theme3);
	cursor: pointer;
	box-shadow: 0px 0px 15px #0007;
	transition: 0.3s;
}

#view-media:hover {
	box-shadow: 0px 0px 20px #028A;
	transform: scale(1.05);
	border: 2px solid var(--theme4);
}

#view-media-disclaimer {
	display: block !important;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	cursor: default;
}

#media-stats {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 10px;
	width: 100%;
	margin: 50px auto 30px auto;
	max-width: 800px;
}

.media-stat {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: calc(30% - 3px);
	background: #FFF2;
	border-radius: 5px;
	padding: 15px 20px;
	box-sizing: border-box;
	cursor: default;
}

.media-stat b {
	font-size: 26pt !important;
	color: var(--base-text) !important;
}

.media-stat p {
	font-size: 13pt !important;
	color: var(--italic-text) !important;
}

#media-types {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 10px;
	width: 100%;
	margin: 20px auto 50px auto;
	max-width: 1000px;
	flex-wrap: wrap;
}

#media-types p {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	background: #FFF2;
	border-radius: 5px;
	padding: 5px 10px;
	box-sizing: border-box;
	cursor: default;
	font-size: 11pt !important;
	color: var(--italic-text) !important;
}

#clients {
	display: flex;
	align-items: stretch;
	align-content: flex-start;
	justify-content: center;
	width: calc(100% + 10px);
	flex-wrap: wrap;
	margin: 0px auto;
	max-width: 1200px;
}

.client {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 5px 8px;
	margin: 5px;
	width: calc(20% - 10px);
}

.client img {
	display: block;
	max-width: 100%;
	margin: 5px 0px 7px 0px;
}

.client b {
	display: block !important;
	color: var(--base-text) !important;
	text-align: center;
	pointer-events: none;
}

.client b {
	font-size: 13pt !important;
}

@media screen and (max-width: 1200px) {
	#popular-content a {
		max-height: 100px;
	}

	#popular-content a img {
		max-height: 100px;
	}

	.client {
		width: calc(25% - 10px) !important;
	}
}

@media screen and (max-width: 1000px) {
	.client {
		width: calc(25% - 10px) !important;
	}
}

@media screen and (max-width: 800px) {
	#popular-content a {
		max-height: 80px;
	}

	#popular-content a img {
		max-height: 80px;
	}

	.client {
		width: calc(33.33% - 10px) !important;
	}
}

@media screen and (max-width: 650px) {
	#popular-content a {
		max-height: 90px;
	}

	#popular-content a img {
		max-height: 90px;
	}

	.client {
		width: calc(50% - 10px) !important;
	}
}

@media screen and (max-width: 400px) {
	.media-stat b {
		font-size: 22pt !important;
	}

	.client {
		width: 100% !important;
	}
}