body {
	background: var(--semi-back);
}

#content-main {
	box-shadow: none;
	background: var(--semi-back);
	margin: 0px 0px 0px 0px;
	border-radius: 0px;
	min-height: calc(100vh - 50px);
	padding: 0px 20px 20px 20px;
}

.title {
	margin-top: 12px !important;
	margin-bottom: 0px !important;
	font-size: 14pt !important;
}

.description {
	font-size: 12pt !important;
	color: var(--italic-text) !important;
	text-align: center;
	width: 100% !important;
	margin: 0px;
	display: block !important;
}

#list-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: var(--close-back2);
	border-radius: 5px 5px 0px 0px;
	margin-top: 10px;
	flex-wrap: wrap;
}

#list-header span {
	display: flex;
	align-items: flex-end;
	padding: 5px 10px;
	white-space-collapse: preserve;
}

#list-header span b {
	font-size: 14pt;
	color: var(--base-text);
}

#list-header span i {
	font-size: 12pt;
	color: var(--brighter-italic-text);
}

#list-header a {
	display: block;
	margin: 2px 2px;
	padding: 5px 10px;
	border: none;
	outline: none;
	border-radius: 3px;
	background: var(--hover-back1);
	color: var(--base-text);
	font-size: 11pt;
	cursor: pointer;
	text-decoration: none;
	font-family: sans-serif;
	white-space: nowrap;
	transition: 0.2s;
}

#list-header a:hover {
	text-shadow: none;
	background: var(--hover-back2);
}

#full-list {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 7px 10px;
	background: var(--close-back);
	border-radius: 0px 0px 5px 5px;
}

#full-list span {
	display: block;
}

.word {
	color: var(--theme3) !important;
}

#full-list span b {
	color: var(--base-text);
}

#full-list span p {
	color: var(--brighter-italic-text);
}

#full-list span i {
	color: var(--italic-text);
}