#app-list {
	display: flex;
	align-items: stretch;
	align-content: flex-start;
	justify-content: center;
	width: calc(100% + 10px);
	flex-wrap: wrap;
	margin: 10px -5px 0px -5px;
}

.app {
	display: flex !important;
	flex-flow: column;
	align-items: center;
	width: calc(16.667% - 10px) !important;
	background: var(--base-back);
	border: 2px solid var(--closer-back);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px 5px;
	cursor: pointer !important;
	margin: 5px !important;
	transition: 0.2s !important;
}

.app:hover {
	text-shadow: none !important;
	background: var(--hover-back1);
	border: 2px solid var(--hover-back2);
	transform: scale(1.05);
}

.app b {
	display: block !important;
	color: var(--base-text) !important;
	font-size: 13pt !important;
	text-align: center;
	pointer-events: none;
}

.app-images {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
	overflow: hidden;
	border-radius: 3px;
	margin-bottom: 8px;
	box-shadow: 0px 0px 6px #FFF1;
}

.app-images span {
	display: block;
	position: absolute;
	width: 100%;
	background-position: 50% 50%;
	background-size: cover;
	transform: scale(1.1);
	filter: blur(3px);
	height: 150px;
	transition: 0.2s;
}

.app:hover .app-images span {
	opacity: 0.3;
	filter: blur(5px);
}

.app-images img {
	display: block;
	max-width: calc(100% - 16px);
	max-height: 90px;
	margin: 5px 0px 7px 0px;
	pointer-events: none;
	filter: drop-shadow(0px 0px 8px #000A);
	transition: 0.4s;
}

.app:hover .app-images img {
	transform: scale(1.2);
}

.app-description {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex: 1 1;
}

.app-description i {
	display: block !important;
	width: 100%;
	padding: 4px 6px;
	box-sizing: border-box;
	font-size: 12pt !important;
	color: var(--italic-text) !important;
	pointer-events: none;
}

@media screen and (max-width: 1200px) {
	.app {
		width: calc(20% - 10px) !important;
	}
}

@media screen and (max-width: 1000px) {
	.app {
		width: calc(25% - 10px) !important;
	}
}

@media screen and (max-width: 800px) {
	.app {
		width: calc(33.33% - 10px) !important;
	}
}

@media screen and (max-width: 600px) {
	.app {
		width: calc(50% - 10px) !important;
	}
}

@media screen and (max-width: 400px) {
	.app {
		width: 100% !important;
	}
}