#main-content {
	display: flex;
	align-content: center;
	margin: 0px auto 20px auto;
	max-width: 1500px;
}

#about {
	display: flex;
	align-items: flex-start;
	width: 65%;
	gap: 15px;
}

#about img {
	display: block;
	max-width: 150px;
	filter: drop-shadow(0px 0px 8px #000A);
}

#about article {
	display: block;
}

#about article p {
	display: inline;
}

#about article a {
	display: inline;
}

#downloads {
	display: block;
	width: 35%;
}

.main-download {
	display: block !important;
	width: 100%;
	max-width: 350px;
	margin: 40px auto 8px auto !important;
	background: var(--theme2);
	font-size: 15pt !important;
	box-sizing: border-box;
	padding: 10px 20px;
	text-align: center;
	color: #FFF !important;
	border-radius: 5px;
	border: 2px solid var(--theme3);
	cursor: pointer;
	box-shadow: 0px 0px 15px #0007;
	user-select: none;
	transition: 0.3s;
}

.main-download:hover {
	box-shadow: 0px 0px 20px #028A;
	transform: scale(1.05);
	border: 2px solid var(--theme4);
}

#download-data {
	display: block !important;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	cursor: default;
}

#screenshot1 {
	display: block;
	max-width: 800px;
	margin: 10px auto 20px auto;
	border: 2px solid var(--hover-back2);
	border-radius: 5px;
	box-shadow: 0px 0px 15px #000A;
}

#features {
	display: flex;
	flex-flow: column;
	width: 100%;
	max-width: 800px;
	margin: 0px auto;
}

#features h1 {
	display: block;
	font-size: 15pt;
	margin: 10px auto 0px auto;
}

#features b {
	display: block;
	font-size: 13pt;
	margin: 10px 0px 0px 0px;
}

#features ul {
	padding: 10px 20px;
}

#features ul li::marker {
	color: var(--italic-text);
}

#features ul li p {
	color: var(--base-text);
}

#features ul li i {
	color: var(--italic-text);
}

@media screen and (max-width: 1100px) {
	#main-content {
		flex-flow: column-reverse;
	}

	#about, #downloads {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	#about {
		flex-flow: column;
		align-items: center;
	}
}